<div class='chat-subheader'>
  Chat with <span class='chat-other-user-text'>other user</span>
</div>

<div class = "chat-content-wrapper">
  <div class='chat-other-user-response'>hey hi text</div>
  <div class='chat-current-user-response'>also hey hi other text</div>


</div>

  <div class='chat-input-block'>
    <input class='chat-input' type=text>
    <i class="fa fa-paper-plane-o chat-button"></i>
  </div>



<div class='chat-home-btn'>Home</div>
<div class='chat-back-to-post-btn'>Back to Post</div>
