<div class = "claimed-title">Post Title</div>

<div class = "claimed-chat"><i class="fa fa-comment"></i> Chat</div>

<div class = "claimed-supplier-name">Supplier Name <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i>
</div>

<div class = "claimed-location">Location</div>
<div class = "claimed-location-image">
  <img src = "assets/images/map-thumbnail.png" width = "100px">
</div>

<div class = "claimed-time-calendar-wrap">
  <div class = "claimed-time-wrap">
    <div class = "claimed-start">Start Time</div>
    <div class = "claimed-end">End Time</div>
  </div>

  <div class = "claimed-calendar-wrap">
    <div class = "claimed-iCal">+ iCal</div>
    <div class = "claimed-googleCal">+ Google Calendar</div>
  </div>
</div>

<div class = "claimed-details-title">Details</div>

<div class = "claimed-image">
  <img src = "/assets/images/food-thumbnail.jpg" width = "100px">
</div>

<div class = "claimed-details">
  This post has been claimed by you. This is your post. No one else can take this post away from you. Because there's no admin view, no there isn't. Only you have that power.
</div>

<div class = "claimed-bottom-button">Back</div>
<div class = "claimed-remove-button">Remove</div>
