<div class = "created-info">
	<div class="created-post-title">{{post.title}}</div>

	<div class="created-post-description">
	{{post.details}}
	</div>

	<div class="created-post-images">
		<div class="created-post-photo">
			<img src = "/assets/images/map.png" width = "150px"></div>
		<div class="created-post-map">
			<img src = "/assets/images/produce.png" width = "150px"></div>
	</div>

	<div class="created-post-location">
		<div class="created-post-address">
			Address:
		</div>
		<a href="#"><div class="created-post-directions-btn">
			Get Directions{{post.address_string}}
		</div></a>
	</div>

	<div class="created-post-calendar">
		<div class="created-post-time">
			<div class="created-post-start">
				Start:{{post.start_at}}
			</div>
			<div class="created-post-end">
				End:{{post.end_at}}
			</div>
		</div>
		<div class="created-post-calendar-btns">
			<div class="google-cal">
				<a href="#"><i class="fa fa-calendar-plus-o fa-4x"></i></a>
			</div>
			<div class="ical">
				<a href="#"><i class="fa fa-calendar-plus-o fa-4x"></i></a>
			</div>
		</div>
	</div>

	<div class="created-post-footer-home" ng-click='goHome()'>
		Home
	</div>
	<div class="created-post-footer-edit" ng-click='goEdit()'>
		Edit
	</div>
	<div class="created-post-footer-delete" ng-click='deletePost()'>
		Delete
	</div>
</div>
