
	<div class = "create-subheader">
		Create Post
	</div>
<form ng-submit = 'submit()'>
	<input class = "create-title" placeholder="Title" ng-model='title'></input>


<!-- this form sourced from http://aws.amazon.com/articles/1434/ -->
<form action="https://foodstream.s3.amazonaws.com/" method="post" enctype="multipart/form-data">
  <input id = "randomFile" type="hidden" name="key" value="uploads/{{nonce}}${filename}">

  <input type="hidden" name="AWSAccessKeyId" value="AKIAJRMM6LYUN6O6HYTA">
  <input type="hidden" name="acl" value="public-read">
  <input type="hidden" name="success_action_redirect" value="">
  <input type="hidden" name="policy" value="eyJleHBpcmF0aW9uIjogIjIwMTctMDEtMDFUMDA6MDA6MDBaIiwKICAiY29uZGl0aW9ucyI6IFsKICAgIHsiYnVja2V0IjogImZvb2RzdHJlYW0ifSwKICAgIFsic3RhcnRzLXdpdGgiLAogICAgICAiJGtleSIsCiAgICAgICJ1cGxvYWRzLyJdLAogICAgeyJhY2wiOiAicHVibGljLXJlYWQifSwKICAgIHsic3VjY2Vzc19hY3Rpb25fcmVkaXJlY3QiOiAiIn0sCiAgICBbInN0YXJ0cy13aXRoIiwgIiRDb250ZW50LVR5cGUiLCAiIl0KICBdCn0=">
  <input type="hidden" name="signature" value="Tp8vvWr6z3he+ZFWTiWDbpnWdXA=">
  <input type="hidden" name="Content-Type" value="">
   <!-- Include any additional input fields here -->

  Choose an image for your food post:
  <input id = "fileName" name="file" type="file">
  <br>
  <input type="submit" value="Upload image" ng-click = "submitNewPost()">
</form>

	<input id="create-post-location" class="create-location" placeholder="Location" ng-model='location' ></input>

	<div class="create-time">
        <input class="create-start-na" type="text" val="" placeholder="Starting Date:" ng-model='startTime'></input>
					<input class="create-start-time-na" type="text" val="" placeholder="Starting Time"></input>

        <input class="create-end-na" type="text" val="" placeholder="Ending Date:" ng-model='endTime'></input>
        <input class="create-end-time-na" type="text" val="" placeholder="Ending Time:"></input>
    </div>

	<textarea class = "create-description" placeholder="Description" ng-model='description'></textarea>



<!-- <input type = 'submit' value='Create Post'/> -->
<div class = "create-post" ng-click = "">
	Create Post
</div>
</form>
