<div class = "created-content-wrapper">
	<div class = "created-info">
		<div class="created-post-title">{{post.title}}</div>

		<div class="created-post-images">


	<div class="created-post-description">
	{{post.details}}
	</div>
	<div class='created-post-chat' ng-click='goToChat(post.id, post.supplier.id, post.claimant_id)'>
		Go To Chat <i class="fa fa-comment" aria-hidden="true"></i>
	</div>
	<div class="created-post-images">

			  <div id='created-post-gmap'></div>
				<img class='created-post-photo' ng-src = "{{post.post_image}}" width = "400px" height='400px'></img>

		</div>

		<div class="created-post-location">

			<a href={{directionsLink}} class="created-post-directions-btn">
				Get Directions w/Google Maps
			</a>

		</div>

		<div class="created-post-address">
			<span>Address:</span>{{post.address_string}}
		</div>



				<div class="created-post-start">
					<span>Starts at:</span>{{post.start_at}}
				</div>
				<div class="created-post-end">
					<span>Pick up by:</span>{{post.end_at}}
				</div>

				<div class="ical" ng-click='addToCalendar()'>
					<i class="fa fa-calendar-plus-o fa-4x"></i> add to calendar
				</div>

				<div class = "created-post-complete-button" ng-click = "markComplete()" ng-show = "post.claimed">
					Mark as complete
				</div>

		</div>
	</div>
<!-- Below is footer -->
	<div class="created-post-footer-home" ng-click='goHome()'>
		Home
	</div>
	<div class="created-post-footer-edit" ng-click='goEdit()'>
		Edit
	</div>
	<div class="created-post-footer-delete" ng-click='deletePost()'>
		Delete
	</div>
</div>
