<div class="create-info">
	<div class = "create-subheader">
		Create Post
	</div>
<form ng-submit = 'submit()'>
	<input class = "create-title" placeholder="Title" ng-model='title'></input>

	<div class='create-picture'>
		<i class="fa fa-camera-retro pic-box">
				add a picture
		</i>
	</div>


	<input id="create-post-location" class="create-location" placeholder="Location" ng-model='location' ></input>


	<input class="create-location" placeholder="Location" ng-model='location'></input>

	<div class="create-time">
        <input class="create-start-na" type="text" val="" placeholder="Start:" ng-model='startTime'></input>
					<input class="create-start-time-na" type="text" val="" placeholder="Time:"></input>

        <input class="create-end-na" type="text" val="" placeholder="End:" ng-model='endTime'></input>
        <input class="create-end-time-na" type="text" val="" placeholder="Time:"></input>
    </div>

	<textarea class = "create-description" placeholder="Description" ng-model='description'></textarea>
</div>


<!-- <input type = 'submit' value='Create Post'/> -->
<div class = "create-post">
	Create Post
</div>
</form>
