<div class="edit-profile-subheader">
  <span class='edit-profile-subheader-txt'>Your Profile</span>
  <span class='edit-profile-subheader-change-pass'>
    Change Your <br> Password
  </span>
</div>

<!-- <div class='edit-profile-add-picture'><i class="fa fa-camera-retro pic-box"><span class='edit-profile-add-picture-txt'>add a picture</span></i>

</div> -->

<form action="https://s3-bucket.s3.amazonaws.com/" method="post" enctype="multipart/form-data">
     <input type="hidden" name="key" value="uploads/${filename}">
     <input type="hidden" name="AWSAccessKeyId" value="YOUR_AWS_ACCESS_KEY">
     <input type="hidden" name="acl" value="private">
     <input type="hidden" name="success_action_redirect" value="http://localhost/">
     <input type="hidden" name="policy" value="YOUR_POLICY_DOCUMENT_BASE64_ENCODED">
     <input type="hidden" name="signature" value="YOUR_CALCULATED_SIGNATURE">
     <input type="hidden" name="Content-Type" value="image/jpeg">
     <!-- Include any additional input fields here -->

     File to upload to S3:
     <input name="file" type="file">
     <br>
     <input type="submit" value="Upload File to S3">
   </form>

<form ng-submit = "submitEdit()">
  <input class='edit-profile-first-name' type=text placeholder='First Name' ng-model = "first">
  <input class='edit-profile-last-name' type=text placeholder='Last Name' ng-model = "last">
  <input class='edit-profile-email' type=text placeholder='email' ng-model = "email">
  <input class='edit-profile-organization' type=text placeholder='Organization' ng-model = "org">

  <input class='edit-profile-location' id='edit-profile-location-input' type=text placeholder='Location (City, St.)' ng-model = "userLocation">

  <textarea class='edit-profile-description' type=text placeholder='Describe Yourself' ng-model = "userDescription"></textarea>

  <input type = "submit" value = "Submit" class='edit-profile-submit-btn'/>
  <!-- <div class='edit-profile-footer'>
    Submit Profile
  </div> -->
</form>
