<div class="edit-profile-subheader">
  <span class='edit-profile-subheader-txt'>Your Profile</span>
  <span class='edit-profile-logout' ng-click='logout()'>Logout</span>

  <span class='edit-profile-subheader-change-pass'>
    Change <br> Password
  </span>
</div>

<div class = "edit-profile-content-wrapper">

<!--
<input type="file" accept="image/*" capture="camera"> -->
  <img class='edit-profile-image' ng-src = "{{profilePic}}" width = "500px"></img>
<!-- force Angular to re-evaluate this img src every time it is changed? otherwise it requires a page refresh -->

<!-- this form sourced from http://aws.amazon.com/articles/1434/ -->
<!-- <form action="https://foodstream.s3.amazonaws.com/" method="post" enctype="multipart/form-data">
  <input id = "randomFile" type="hidden" name="key" value="uploads/{{nonce}}${filename}">

  <input type="hidden" name="AWSAccessKeyId" value="AKIAJRMM6LYUN6O6HYTA">
  <input type="hidden" name="acl" value="public-read">
  <input type="hidden" name="success_action_redirect" value="">
  <input type="hidden" name="policy" value="eyJleHBpcmF0aW9uIjogIjIwMTctMDEtMDFUMDA6MDA6MDBaIiwKICAiY29uZGl0aW9ucyI6IFsKICAgIHsiYnVja2V0IjogImZvb2RzdHJlYW0ifSwKICAgIFsic3RhcnRzLXdpdGgiLAogICAgICAiJGtleSIsCiAgICAgICJ1cGxvYWRzLyJdLAogICAgeyJhY2wiOiAicHVibGljLXJlYWQifSwKICAgIHsic3VjY2Vzc19hY3Rpb25fcmVkaXJlY3QiOiAiIn0sCiAgICBbInN0YXJ0cy13aXRoIiwgIiRDb250ZW50LVR5cGUiLCAiIl0KICBdCn0=">
  <input type="hidden" name="signature" value="Tp8vvWr6z3he+ZFWTiWDbpnWdXA=">
  <input type="hidden" name="Content-Type" value="">



  Choose an image for your profile pic:
  <input id = "fileName" name="file" type="file">

  <br> -->
  <!-- <input type="submit" value="Upload File to S3" ng-click = "logFile()" class='edit-profile-image-upload'> -->
<!-- </form> -->

<!-- <form> -->



  <input class='edit-profile-first-name' type=text placeholder='First Name' ng-model = "first">
  <input class='edit-profile-last-name' type=text placeholder='Last Name' ng-model = "last">
  <input class='edit-profile-email' type=text placeholder='email' ng-model = "email">
  <input class='edit-profile-organization' type=text placeholder='Organization' ng-model = "org">

  <input class='edit-profile-location' id='edit-profile-location-input' type=text placeholder='Location' ng-model = "userLocation">

  <textarea class='edit-profile-description' type=text placeholder='Describe Yourself' ng-model = "userDescription"></textarea>

  <input type = "submit" value = "Submit Profile" class='edit-profile-submit-btn' ng-click = "submitEdit()"/>
  <!-- <div class='edit-profile-footer'>
    Submit Profile
  </div> -->
</form>

  <input id="file-input" type="file" ngf-select="upload($file)" ng-model="image" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="20MB" ngf-min-height="100">

</div>
