<div class="edit-profile-subheader">
  <span class='edit-profile-subheader-txt'>Your Profile</span>
  <span class='edit-profile-subheader-change-pass'>
    Change Your <br> Password
  </span>
</div>

<div class='edit-profile-add-picture'><i class="fa fa-camera-retro pic-box"><span class='edit-profile-add-picture-txt'>add a picture</span></i>

</div>

<input class='edit-profile-first-name' type=text placeholder='First Name'>
<input class='edit-profile-last-name' type=text placeholder='Last Name'>
<input class='edit-profile-email' type=text placeholder='email'>
<input class='edit-profile-organization' type=text placeholder='Organization'>
<input class='edit-profile-location' type=text placeholder='Location (City, St.)'>
<textarea class='edit-profile-description' type=text placeholder='Describe Yourself'></textarea>

<div class='edit-profile-footer'>
  Submit Profile
</div>
