
<div class='home-subheader'>
  <div class='home-subheader-see-all' ng-click='filters= ""'>
     all my active posts
  </div>
  <div class='home-subheader-see-claimed' ng-click='seeClaimed()'>
    my claimed posts
  </div>
  <div class='home-subheader-see-provided' ng-click='seeProvided()'>
    my provided posts
  </div>
</div>

<div class = "home-content-wrapper">
  <div ng-repeat = "post in posts | filter:filters | orderBy:'end_at'" >

    <div class = "home-card">
      <div class = "home-header">{{post.title}}
        <span>{{post.end_at}}</span>
      </div>

      <div class = "home-transaction-details">

        <div>{{post.supplier.first_name}} {{post.supplier.last_name}}<br>{{post.supplier.organization}}</div>
        <div>{{post.address_string}}</div>
      </div>

      <div class = "home-chat">
        <i class="fa fa-comment">
          <span class='home-chat-text'>Chat</span>
        </i>
      </div>
      <div class = "home-details" ng-click='detailsId(post.id)'>
        <i class="fa fa-info-circle">
          <span class='home-details-text'>Details</span>
        </i>
      </div>

    </div>
  </div>
</div>



  <div class='home-search' ng-click='search()'>Search for Food</div>
  <div class = "home-post" ng-click='createPost()'>Create Post</div>
