
<div class='home-subheader'>

  <input class = "home-search" placeholder="Search for food"></input>
  <i class="fa fa-search"></i>

  <div class='home-subheader-text'>Search for food within <input class = "home-distance-search"></input> miles of my location
  </div>
</div>

<div ng-repeat = "post in posts" ng-controller = "homeController">
  <div class = "home-card">
    <div class = "home-header">{{post.title}}
      <span>{{post.end_at}}</span>
    </div>

    <div class = "home-transaction-details">
      <div>{{post.location_id}}</div>
      <div>{{post.supplier_id}}</div>
      <div>Claimant Name</div>
    </div>

    <div class = "home-chat">
      <i class="fa fa-comment">
        <span class='home-chat-text'>Chat</span>
      </i>
    </div>
    <div class = "home-details">
      <i class="fa fa-info-circle">
        <span class='home-details-text'>Details</span>
      </i>
    </div>

  </div>
</div>



<div class = "home-post">Create Post</div>
