<div class = "sign-up-title">Log in</div>

	<a href='#/signUp'><div class = "login-signup">Sign Up</div></a>

	<div class = "login-login">Log In</div>

	<div class="login-about">Lorem ipsum dolor sit amet, aenean purus. Tortor suscipit ullamcorper orci wisi neque curabitur. Consequat lorem mauris eros cursus odio, pellentesque mollis semper elit nam in. Porttitor amet pulvinar amet pharetra, suscipit massa pretium, interdum tincidunt nunc, justo et taciti et faucibus diam, urna libero ligula elementum cras ac eget.</div>

	<div class = "login-legal">Legal stuff</div>

<!-- <div class="login-login-modal">
	<div class="login-modal-content">
	</div>
</div> -->
