<div class = "sign-up-title">Welcome</div>

	<!-- <ul id="tabs">
	    <li class="active">Log In</li>
	    <li>Sign Up</li>
	</ul>
	<ul id="tab">
	    <li class="active"> -->

			<input type='text' ng-model='username' placeholder="login email" class='landing-login-email-input'>

			<input type='password' ng-model='password' placeholder="password" class='landing-login-password-input'>

			<div class='landing-login-btn' ng-click='submitLogin()'>Log In</div>
			<div class='landing-signup-btn' ng-click='submitSignup()'>New User? Sign Up Here</div>


	<div class="login-about">Foodstream is an app that connects institutions with edible food they are not going to sell/distribute/market with institutions who are interested in using that food.  At foodstream we believe that edible food should be eaten.</div>

	<div class = "login-legal">Legal stuff</div>
