<div class = "sign-up-title">Welcome</div>

	<!-- <ul id="tabs">
	    <li class="active">Log In</li>
	    <li>Sign Up</li>
	</ul>
	<ul id="tab">
	    <li class="active"> -->
		<div class= "tab-container">
		<div class="cb" ng-click="showDetails = ! showDetails">Log In</div>
        <div class="cb" ng-click="showDetails = ! showDetails">Sign Up</div>
        <div ng-hide="showDetails">
            <p>
				<form ng-submit = 'submit()' class= "form-container">
				<input type='text' ng-model='username' placeholder="EMAIL">
				<input type='text' ng-model='password' placeholder="PASSWORD">

				<input type = 'submit' value='Submit'/>

				</form>
            </p>
        </div>
        <div ng-show="showDetails">
			<p>
				<form ng-submit = 'submit()' class= "form-container">
				<input type='text' ng-model='username' placeholder="EMAIL  GOES HERE">
				<input type='text' ng-model='password' placeholder="CHOOSE PASSWORD">

				<input type = 'submit' value='Submit'/>

				</form>
            </p>
        </div>
	    </div>
		<!-- </li>
		<li>
			<h2>Please enter your email address and choose a password</h2>
		</li>
	</ul> -->

	<div class="login-about">Lorem ipsum dolor sit amet, aenean purus. Tortor suscipit ullamcorper orci wisi neque curabitur. Consequat lorem mauris eros cursus odio, pellentesque mollis semper elit nam in. Porttitor amet pulvinar amet pharetra, suscipit massa pretium, interdum tincidunt nunc, justo et taciti et faucibus diam, urna libero ligula elementum cras ac eget.</div>

	<div class = "login-legal">Legal stuff</div>
