<div class = "post-detail-title">{{post.title}}</div>

<img src ="{{post.image_link}}"></img>

<div class = "post-detail-supplier-name">
  {{post.supplier.first_name}} {{post.supplier.last_name}}
  <br>{{post.supplier.organization}}
  <span class='post-detail-rating'>
    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i>
  </span>
</div>

<div class = "post-detail-image">
  <img src = "/assets/images/food-thumbnail.jpg" width = "100px">
</div>

<div class = "post-detail-details">
  {{post.details}}
</div>

<div class = "post-detail-location">{{post.address_string}}</div>
<div class = "post-detail-location-image">
  <img src = "assets/images/map-thumbnail.png" width = "100px">
</div>

<div class = "post-detail-start"><span>Available at: </span>{{post.start_at}}</div>
<div class = "post-detail-end"><span> Pick Up by: </span>{{post.end_at}}</div>



<div class = "post-detail-bottom-button" ng-click='goHome()'>Back</div>
<div class = "post-detail-claim-button" ng-click='claimPost()' >Claim Post</div>
