<div class = "post-detail-title">{{post.title}}</div>



<div class = "post-detail-supplier-name">{{post.supplier_id}} <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i>
</div>

<div class = "post-detail-image">
  <img src = "/assets/images/food-thumbnail.jpg" width = "100px">
</div>

<div class = "post-detail-details">
  {{post.details}}
</div>

<div class = "post-detail-location">{{post.location.address_1}}<br>{{post.location.city}} {{post.location.state}} {{post.location.zip_code}}</div>
<div class = "post-detail-location-image">
  <img src = "assets/images/map-thumbnail.png" width = "100px">
</div>

<div class = "post-detail-start">{{post.start_at}}</div>
<div class = "post-detail-end">{{post.end_at}}</div>



<div class = "post-detail-bottom-button" ng-click='goHome()'>Back</div>
<div class = "post-detail-claim-button" >Claim Post</div>
