<div class = "post-detail-title">Post Title</div>

{{detailed}}

<div class = "post-detail-supplier-name">Supplier Name <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i>
</div>

<div class = "post-detail-image">
  <img src = "/assets/images/food-thumbnail.jpg" width = "100px">
</div>

<div class = "post-detail-details">
  Art of cool durham city of medicine edgemont bay 7, carolina theatre wunc chapel hill street fifty-five the pickle dino trail durham bulls, the kress book exchange.
</div>

<div class = "post-detail-location">Location</div>
<div class = "post-detail-location-image">
  <img src = "assets/images/map-thumbnail.png" width = "100px">
</div>

<div class = "post-detail-start">Start Time</div>
<div class = "post-detail-end">End Time</div>



<div class = "post-detail-bottom-button">Back</div>
<div class = "post-detail-claim-button">Claim Post</div>
