<div class='results-subheader'>
  <input class='results-search' placeholder='Search Available Posts' ng-model='type'></input>


  <div class='results-subheader-text'>
    Search for available food within
    <input class = "results-distance-input" ng-model='distanceInput'></input>
    miles of my location
    <div class='results-subheader-search-button'>
      Search
      <i class="fa fa-search"></i>
    </div>
  </div>


</div>

<div ng-repeat = 'post in posts | orderBy : "end_at" | filter:type' >
<div class = "results-card">
  <div class = "results-header">{{post.title}}
    <span>{{post.end_at}}</span>
  </div>

  <div class = "results-pic">
    <div class='results-add-picture'><i class="fa fa-camera-retro pic-box"><span class='results-add-picture-txt'>add a picture</span></i>
    </div>
  </div>

  <div class = "results-transaction-details">
    <div class='results-supplier-name-text'>{{post.supplier.first_name}} {{post.supplier.last_name}}<br>{{post.supplier.organization}}</div>
    <div class='results-transaction-location'>{{post.location.address_1}}<br>{{post.location.city}} {{post.location.state}} {{post.location.zip_code}}</div>
    <div class='results-transaction-details-text'>{{post.details}}</div>
  </div>



  <div class = "results-details" ng-click='getDetails(post.id)'>
    <i class="fa fa-info-circle">
      <span class='search-details-text'>details</span>
    </i>
  </div>

</div>
</div>
<div class='results-footer' ng-click='goHome()'>
  Home
</div>
