<div class="create-info">
	<div class = "create-subheader">
		Create Post
	</div>

	<input class = "create-title" placeholder="Title"></input>

	<div class='create-picture'>
		<i class="fa fa-camera-retro pic-box">
				add a picture
		</i>
	</div>

	<input class="create-location" placeholder="Location"></input>

	<div class="create-time">
		<input class="create-start" placeholder="Start:"></input>

		<input class="create-end" placeholder="End:"></input>
   </div>

	<textarea class = "create-description" placeholder="Description"></textarea>
</div>

<div class = "create-post">
	Create Post
</div>
