<div class = "sign-up-title">Create Post</div>

	<div class="create-labels">Title</div>
	<input class = "create-title"></input>

	<div class='create-picture'><i class="fa fa-camera-retro pic-box"><span class='edit-profile-add-picture-txt'>add a picture</span></i>

	</div>

	<div class="create-labels">Location</div>
	<input class="create-location"></input>

	<div class="create-start">Start:
		<input></input>
	</div>

	<div class="create-end">End:
		<input></input>
	</div>

	<div class="create-labels">Description</div>
	<input class = "create-description"></input>

<div class = "home-post">Create Post</div>
