<div class="created-post-title">Post Listing</div>

<div class="created-post-description">Consequat lorem mauris eros cursus odio, pellentesque mollis semper elit nam in. Porttitor amet pulvinar amet pharetra, suscipit massa pretium, interdum tincidunt nunc, justo et taciti et faucibus.</div>

<div class="created-post-images">
	<div class="created-post-map"></div>
	<div class="created-post-photo"></div>
</div>

<div class="created-post-location">
	<div class="created-post-address">Address:</div>
	<div class="created-post-directions-btn">Get Directions</div>
</div>

<div class="created-post-calendar">
	<div class="created-post-time">
		<div class="created-post-start">start</div>
		<div class="created-post-end">end</div>
	</div>
	<div class="created-post-calendar-btns">
		<div class="google-cal">add google-cal</div>
		<div class="ical">add ical</div>
	</div>
</div>

<div class="created-post-footer">
	<div class="created-post-home">home</div>
	<div class="created-post-edit">edit</div>
	<div class="created-post-delete">delete</div>
</div>
