
<input class = "home-search" placeholder="Search for food"></input><div>button</div>

<div>Search for food within <input class = "home-distance-search"></input> miles of me
</div>

<div class = "home-card">
  <div class = "home-header">Transaction name
    <span>Pick-up time</span>
  </div>

  <div class = "home-transaction-details">
    <div>Transaction location</div>
    <div>Supplier Name</div>
    <div>Claimant Name</div>
  </div>

  <div class = "home-chat">Chat</div>
  <div class = "home-details">Details</div>

</div>

<div class = "home-card">
  <div class = "home-header">Transaction name
    <span>Pick-up time</span>
  </div>

  <div class = "home-transaction-details">
    <div>Transaction location</div>
    <div>Supplier Name</div>
    <div>Claimant Name</div>
  </div>

  <div class = "home-chat">Chat</div>
  <div class = "home-details">Details</div>

</div>

<div class = "home-card">
  <div class = "home-header">Transaction name
    <span>Pick-up time</span>
  </div>

  <div class = "home-transaction-details">
    <div>Transaction location</div>
    <div>Supplier Name</div>
    <div>Claimant Name</div>
  </div>

  <div class = "home-chat">Chat</div>
  <div class = "home-details">Details</div>

</div>

<div class = "home-post">Create Post</div>
