
<div class='home-subheader'>

  <input class = "home-search" placeholder="Search for food"></input>
  <i class="fa fa-search"></i>

  <div class='home-subheader-text'>Search for food within <input class = "home-distance-search"></input> miles of my location
  </div>
</div>

<div class = "home-card">
  <div class = "home-header">Transaction name
    <span>Pick-up time</span>
  </div>

  <div class = "home-transaction-details">
    <div>Transaction location</div>
    <div>Supplier Name</div>
    <div>Claimant Name</div>
  </div>

  <div class = "home-chat">
    <i class="fa fa-comment">
      <span class='home-chat-text'>Chat</span>
    </i>
  </div>
  <div class = "home-details">
    <i class="fa fa-info-circle">
      <span class='home-details-text'>Details</span>
    </i>
  </div>

</div>

<div class = "home-card">
  <div class = "home-header">Transaction name
    <span>Pick-up time</span>
  </div>

  <div class = "home-transaction-details">
    <div>Transaction location</div>
    <div>Supplier Name</div>
    <div>Claimant Name</div>
  </div>

  <div class = "home-chat">Chat</div>
  <div class = "home-details">Details</div>

</div>

<div class = "home-card">
  <div class = "home-header">Transaction name
    <span>Pick-up time</span>
  </div>

  <div class = "home-transaction-details">
    <div>Transaction location</div>
    <div>Supplier Name</div>
    <div>Claimant Name</div>
  </div>

  <div class = "home-chat">Chat</div>
  <div class = "home-details">Details</div>

</div>

<div class = "home-post">Create Post</div>
