<div class = "sign-up-title">Sign up</div>

<div class = "sign-up-form">
  <label class = "sign-up-label">Email</label>
  <input class = "sign-up-input"></input>

  <label class = "sign-up-label">Organization Name</input>
  <input class = "sign-up-input"></input>

  <label class = "sign-up-label">Password</label>
  <input class = "sign-up-input"></input>

  <label class = "sign-up-label">Confirm Password</label>
  <input class = "sign-up-input"></input>

</div>

<a class = "sign-up-link" href = "#"><div class = "sign-up-button">Submit</div></a>
