.chat-subheader{
  @media screen and (min-width: $break-large) {
    position: fixed;
    padding: 2% 0 0 0;
    font-size: 1.5em;
    font-weight: 600;
    width: 100vw;
    display: block;
    top: 50px;
  }
  .chat-other-user-text{
  }
}
.chat-content-wrapper{
  @media screen and (min-width: $break-large) {
    overflow: hidden;
  }
  .chat-other-user-response{
  }
  .chat-current-user-response{
  }
}
.chat-input-block{
  @media screen and (min-width: $break-large) {
  position: fixed;
  bottom: 8%;
  }
  .chat-input{
    }
    .fa-paper-plane-o{
  }
}
.chat-home-btn{
  @media screen and (min-width: $break-large) {
  font-size: 2em;
  line-height: 1.75em;
}
}
.chat-back-to-post-btn{
  @media screen and (min-width: $break-large) {
    font-size: 2em;
    line-height: 1.75em;
  }
}
