.claimed-title {
  @media screen and (min-width: $break-large) {
      margin-top: 5%;
      padding: .5% 0 .2% 0;
      font-size: 2em;
      font-weight: 600;
  }
}
.claimed-content-wrapper{
  @media screen and (min-width: $break-large) {
      margin-top: 9%;
  }
  .claimed-supplier-name-wrap {
    @media screen and (min-width: $break-large) {
        font-size: 3em;
        margin: 1% 0 0 27%;
    }
    .claimed-supplier-name{
      @media screen and (min-width: $break-large) {
          font-size: .5em;
          line-height: 1em;
          width: 30%;
      }
      span{
        @media screen and (min-width: $break-large) {
            font-size: 1em;
        }
      }
    }
    .claimed-supplier-org{
      @media screen and (min-width: $break-large) {
          font-size: .5em;
          line-height: 1em;
          width: 30%;
      }
      span{
        @media screen and (min-width: $break-large) {
            font-size: 1em;
        }
      }
    }
  }
.claimed-images{
  @media screen and (min-width: $break-large) {
        margin: 0 0 0 28%;
  }
  #claimed-map{
    @media screen and (min-width: $break-large) {
        height: 250px;
        width: 250px;
        margin: 1% 0 0 2%;
    }
  }
  .claimed-post-photo{
    @media screen and (min-width: $break-large) {
        height: 250px;
        width: 250px;
        margin: 1% 0 0 2%;
    }
  }
}
.claimed-buttons-wrap{
  .claimed-calendar{
    @media screen and (min-width: $break-large) {
        font-size: 1.25em;
    }
    .fa-calendar-plus-o{
      @media screen and (min-width: $break-large) {
          font-size: 1.25em;
          margin: 4% 0 2% 0;
      }
    }
  }
  .claimed-chat{
    @media screen and (min-width: $break-large) {
        font-size: 1.25em;
    }
    .fa-comment{
      @media screen and (min-width: $break-large) {
          font-size: 1.25em;
          margin: 4% 0 2% 0;
      }
    }
  }
  .claimed-directions{
    @media screen and (min-width: $break-large) {
        font-size: 1.25em;
    }
    .fa-google{
      @media screen and (min-width: $break-large) {
          font-size: 1.25em;
          margin: 4% 0 2% 0;
      }
    }
  }
}
.claimed-time-wrap{
  @media screen and (min-width: $break-large) {
      margin: 2% 0 15% 15%;
      font-size: 1em;
  }
  .claimed-start{
    @media screen and (min-width: $break-large) {
        font-size: 2em;
    }
    span{
    }
  }
  .claimed-end{
    @media screen and (min-width: $break-large) {
        font-size: 2em;
    }
    span{
    }
  }
}
.claimed-location{
  @media screen and (min-width: $break-large) {
      margin: 5% 0 1% 15%;
      font-size: 2.5em;
  }
  span{
  }
}
.claimed-details{
  @media screen and (min-width: $break-large) {
      font-size: 1em;
      margin: 0 3% 0 15%;
      width: 75%;
  }
  span{
  }
}
}
.claimed-bottom-button {
@media screen and (min-width: $break-large) {
    font-size: 2em;
    font-weight: 600;
    line-height: 1.75em;
}
}
.claimed-remove-button {
@media screen and (min-width: $break-large) {
    font-size: 2em;
    font-weight: 600;
    line-height: 1.75em;
}
}
