.created-post-title {
  @media screen and (min-width: $break-large) {
      font-size: 2em;
      line-height: 1em;
      margin: 5% 0 0 0;
      padding: .5% 0;
  }
}
.created-content-wrapper{
  @media screen and (min-width: $break-large) {
      margin-top: 9%;
      padding-top: 1%;
  }
    .created-post-description {
      @media screen and (min-width: $break-large) {
        font-size: 1em;
        margin: 0 3% 0 15%;
        width: 75%;
      }
      span{
        @media screen and (min-width: $break-large) {
            padding-bottom: 1%;
            font-size: 1em;
        }
      }
    }
    .created-post-images {
      @media screen and (min-width: $break-large) {
          margin-left: 26.5%;
      }
      .created-post-photo {
        @media screen and (min-width: $break-large) {
            height: 250px;
            width: 250px;
            margin-right: 5%;
        }
        }
        #created-post-gmap{
          @media screen and (min-width: $break-large) {
              height: 250px;
              width: 250px;
          }
        }
      }
      .created-post-address {
        @media screen and (min-width: $break-large) {
            margin: 5% 0 1% 30%;
            font-size: 2.5em;
        }
        .create
        span{
        }
      }
      .created-buttons-wrap{
          @media screen and (min-width: $break-large) {
              width: 90%;
              margin-left: 5%;
          }
        .created-add-cal{
          @media screen and (min-width: $break-large) {
              font-size: 1.25em;
          }
          .fa-calendar-plus-o{
            @media screen and (min-width: $break-large) {
                font-size: 1.25em;
                margin: 4% 0 2% 0;
            }
          }
        }
        .created-post-chat{
          @media screen and (min-width: $break-large) {
              font-size: 1.25em;
          }
          .fa-comment{
            @media screen and (min-width: $break-large) {
                font-size: 1.25em;
                margin: 4% 0 2% 0;
            }
          }
        }
        .created-post-directions-btn{
          @media screen and (min-width: $break-large) {
              font-size: 1.25em;
          }
          .fa-google{
            @media screen and (min-width: $break-large) {
                font-size: 1.25em;
                margin: 4% 0 2% 0;
            }
          }
        }
      }
    .created-post-time-wrap{
      @media screen and (min-width: $break-large) {
          width: 75%;
          margin: 3% 0 15% 30%;
          font-size: 1em;
      }
    .created-post-start {
      @media screen and (min-width: $break-large) {
          font-size: 2.5em;
          width: 35%;
      }
      span{
      }
    }
    .created-post-end {
      @media screen and (min-width: $break-large) {
          font-size: 2.5em;
          width: 35%;
      }
      span{
      }
    }
  }
  .created-post-claimed-info{
  }
    .created-post-complete-button{
    }
  }
  .created-post-modal{
    .created-post-modal-content{
      h1{
      }
      .created-stars {
      }
      .created-post-review-input{
      }
      .created-post-button-wrap{
        .created-post-review-submit{
        }
        .created-post-review-cancel{
        }
      }
    }
  }
  .created-post-footer-home {
    @media screen and (min-width: $break-large) {
      font-size: 2em;
      font-weight: 600;
      line-height: 1.75em;
    }
  }
  .created-post-footer-edit {
    @media screen and (min-width: $break-large) {
      font-size: 2em;
      font-weight: 600;
      line-height: 1.75em;
    }
  }
  .created-post-footer-delete {
    @media screen and (min-width: $break-large) {
      font-size: 2em;
      font-weight: 600;
      line-height: 1.75em;
    }
  }
