.create-subheader {
  @media screen and (min-width: $break-large) {
        position: fixed;
        top: 65px;
        line-height: .75em;
        margin-top: 0;
        color: darken($headerbg, 10%);
        padding: .5% 0;
        font-size: 1.75em;
  }
}
.create-post-add-pic{
  @media screen and (min-width: $break-large) {
      margin: 12% 2% 0 38.5%;
      width: 35%;
      font-size: 2.5em;
  }
  .fa-camera-retro{
  }
}
#file-input{
}
.create-title {
  @media screen and (min-width: $break-large) {
    width: 35.5%;
    font-size: 1em;
    margin: 1.5% 0 0 32%;
  }
}
.create-location {
  @media screen and (min-width: $break-large) {
      width: 35.5%;
      font-size: 1em;
      margin: 1% 0 0 32%;
  }
}
.create-start-na {
  @media screen and (min-width: $break-large) {
    width: 10%;
    font-size: 1em;
    margin: 1% 0 0 37%;
  }
}
.create-start-time-na{
  @media screen and (min-width: $break-large) {
    width: 10%;
    font-size: 1em;
    margin: 1% 35% 0 5%;
  }
}
.create-end-na {
  @media screen and (min-width: $break-large) {
      width: 10%;
      font-size: 1em;
      margin: 1% 0 0 37%;
  }
}
.create-end-time-na{
  @media screen and (min-width: $break-large) {
      width: 10%;
      font-size: 1em;
      margin: 1% 35% 0 5%;
  }
}
.create-description {
  @media screen and (min-width: $break-large) {
      width: 35.5%;
      font-size: 1em;
      margin: 1% 0 0 32%;
      height: 15vh;
  }
}
.create-submit-button {
    @media screen and (min-width: $break-large) {
        position: fixed;
        font-size: 2em;
        font-weight: 600;
        line-height: 1.75em;
    }
}
