.create-content-wrapper{
  // margin-top: 12%;
  // border: solid thin black;
}



.create-subheader {
  width: 100%;
  font-size: 4em;
  text-align: center;
  background-color: lighten($headerbg, 35%);
  line-height: 1.5em;
  margin-top: 13%;
  @media screen and (min-width: $break-large) {
        position: fixed;
        width: 100vw;
        display: block;
        top: 50px;
        line-height: 1em;
        margin-top: 0;
        padding: 2% 0 0 17%;
        margin-bottom: 2.5em;
        font-size: 1.5em;
        font-weight: 700;
        text-align: left;
        border-bottom: 3px solid darken($headerbg, 5%);
        color: darken($headerbg, 5%);
  }
}
.create-post-add-pic{
  width: 90%;
  margin: 5% 5%;
  background-color: lighten($buttonbg, 10%);
  color: white;
  font-size: 5em;
  line-height: 1.3em;
  text-align: center;
  @media screen and (min-width: $break-large) {
      margin: 15% 2% 0 15%;
      width: 35.5%;
      font-size: 3em;
  }
}
#file-input{
  display: none;
}

.create-title {
  background-color: white;
  width: 95%;
  border: solid 2px $border;
  font-size: 4em;
  margin: 2% 0 0 2.5%;
  color: darken($headerbg, 30%);
  @media screen and (min-width: $break-large) {
    width: 35%;
    font-size: 1em;
    margin: 2% 0 0 15%;
  }
}

.create-location {
  background-color: white;
  width: 95%;
  border: solid 2px $border;
  font-size: 4em;
  margin: 2% 0 2% 2.5%;
  color: black;
  @media screen and (min-width: $break-large) {
    width: 35%;
    font-size: 1em;
    margin: 1% 0 0 15%;
  }
}
.create-start-na {
  display: inline-block;
  background-color: white;
  width: 40%;
  border: solid 2px $border;
  font-size: 4em;
  margin: 2% 5%;
  color: black;
  @media screen and (min-width: $break-large) {
    width: 10%;
    font-size: 1em;
    margin: 1% 1% 0 18%;
  }
}
.create-start-time-na{
  display: inline-block;
  background-color: white;
  width: 40%;
  border: solid 2px $border;
  font-size: 4em;
  margin-top: 2%;
  color: black;
  @media screen and (min-width: $break-large) {
    width: 10%;
    font-size: 1em;
    margin: 1% 45% 0 5%;
  }
}
.create-end-na {
  display: inline-block;
  margin: 2% 5%;
  background-color: white;
  width: 40%;
  border: solid 2px $border;
  font-size: 4em;
  margin-top: 2%;
  color: black;
  @media screen and (min-width: $break-large) {
    width: 10%;
    font-size: 1em;
    margin: 1% 1% 0 18%;
  }
}
.create-end-time-na{
  display: inline-block;
  background-color: white;
  width: 40%;
  border: solid 2px $border;
  font-size: 4em;
  margin-top: 2%;
  color: black;
  @media screen and (min-width: $break-large) {
    width: 10%;
    font-size: 1em;
    margin: 1% 45% 0 5%;
  }
}

.create-description {
  display: block;
  height: 40vh;
  background-color: white;
  width: 95%;
  border: solid 2px $border;
  font-size: 4em;
  margin: 2% 0 0 2.5%;
  color: black;
  @media screen and (min-width: $break-large) {
    width: 35%;
    font-size: 1em;
    margin: 1% 0 0 15%;
    height: 15vh;
  }
}
