.home-subheader{
    @media screen and (min-width: $break-large) {
        padding: 1.45% 0 .15% 0;
        font-size: 1.5em;
        font-weight: 700;
        display: block;
        top: 50px;
        z-index: 0;
        height: 4%;
    }
}
.home-content-wrapper {
  .home-card {
    @media screen and (min-width: $break-large) {
        height: $cardHeight * .8;
        border: 2px solid darken($border, 5%);
        width: 95%;
        margin: 3% 0 3% 2%;
        z-index: 1;
    }
    .home-header {
    @media screen and (min-width: $break-large) {
        font-size: 1.75em;
        border: 3px solid black;
        z-index: 2;
    }
    .home-post-title {
    }
    .home-post-end {
    }
  }
  .home-transaction-details {
    @media screen and (min-width: $break-large) {
        font-size: 1.5em;
    }
  }
  .home-chat {
    @media screen and (min-width: $break-large) {
        height: $cardHeight * .5;
        font-size: .4em;
        border: none;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 5px;
        width: 12%;
        margin-left: 11%;
        &:hover{
          background-color: lighten(lightslategray, 20%);
          color: white;
        }
    }
    .fa-comment{
      @media screen and (min-width: $break-large) {
          font-size: 6em;
          margin: 9% 0;
          &:hover{
            background-color: lighten(lightslategray, 20%);
            color: white;
          }
      }
      .home-chat-text{
        @media screen and (min-width: $break-large) {
            font-size: .7em;
            &:hover{
              background-color: lighten(lightslategray, 20%);
              color: white;
            }
        }
      }
    }
  }
  .home-details {
    @media screen and (min-width: $break-large) {
        height: $cardHeight * .5;
        font-size: .4em;
        border: none;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 5px;
        width: 12%;
        margin-left: 24%;
        &:hover{
          background-color: lighten(lightslategray, 20%);
          color: white;
        }
    }

    .fa-info-circle{
      @media screen and (min-width: $break-large) {
          font-size: 6em;
          margin: 9% 0;
          &:hover{
            background-color: lighten(lightslategray, 20%);
            color: white;
          }
      }
      .home-details-text{
        @media screen and (min-width: $break-large) {
            font-size: .7em;
        }
      }
    }
  }
}
}
.home-search{
    @media screen and (min-width: $break-large) {
        font-size: 2em;
        font-weight: 600;
        line-height: 1.75em;
    }
  }
  .home-post{
    @media screen and (min-width: $break-large) {
        font-size: 2em;
        font-weight: 600;
        line-height: 1.75em;
    }
  }
