.edit-post-subheader {
  width: 100%;
  font-size: 4em;
  text-align: center;
  background-color: lighten($headerbg, 25%);
  line-height: 1.5em;
  margin-top: 12%;
  position: fixed;
  color: darken($headerbg, 15%);
}
.edit-post-content-wrapper{
  margin-top: 22%;
  overflow: scroll;
  height: 81vh;
  // border: solid thin black;
  position: absolute;
  .edit-post-image{
    height: 450px;
    width: 450px;
    margin: 2% 0 0 28%;
  }
}
#file-input-edit-post{
  display: none;
}
.edit-post-add-image{
  border: solid 3px $border;
  text-align: center;
  width: 95%;
  margin: 1%  0 2%  2.5%;
  font-size: 4em;
  color: lighten(black, 35%);
  background-color: lighten($border,3%);
  line-height: 1.2em;
}
.edit-post-title {
  background-color: white;
  width: 95%;
  border: solid 2px $border;
  font-size: 4em;
  margin: 2% 0 0 2.5%;
  color: black;
}

.edit-post-location {
  background-color: white;
  width: 95%;
  border: solid 2px $border;
  font-size: 1em;
  margin: 2% 0 2% 2.5%;
  color: black;
  font-size: 4em;
}
.edit-post-start-na {
  display: inline-block;
  background-color: white;
  width: 40%;
  border: solid 2px $border;
  font-size: 4em;
  margin: 2% 5%;
  color: black;
}
.edit-post-start-time-na{
  display: inline-block;
  background-color: white;
  width: 40%;
  border: solid 2px $border;
  font-size: 4em;
  margin-top: 2%;
  color: black;
}
.edit-post-end-na {
  display: inline-block;
  margin: 2% 5%;
  background-color: white;
  width: 40%;
  border: solid 2px $border;
  font-size: 4em;
  margin-top: 2%;
  color: black;
}
.edit-post-end-time-na{
  display: inline-block;
  background-color: white;
  width: 40%;
  border: solid 2px $border;
  font-size: 4em;
  margin-top: 2%;
  color: black
}

.edit-post-description {
  display: block;
  height: 25vh;
  background-color: white;
  width: 95%;
  border: solid 2px $border;
  margin: 2% 0 0 2.5%;
  color: black;
  font-size: 4em;
}


.edit-post-btn {
background-color: $buttonaccent2;
position: fixed;
bottom: 0;
width: 100%;
text-align: center;
font-size: 5em;
line-height: 1.3em;
color: white;
cursor: pointer;
font-weight: 200;

&:hover{
 background-color: darken($buttonaccent2, 5%);
}
}
