.edit-profile-subheader{
  @media screen and (min-width: $break-large) {
        font-size: 2em;
        top: 9.75%;
  }
}
.edit-profile-top-btn-wrap{
    @media screen and (min-width: $break-large) {
        top: 15%;
        font-size: 1.25em;
        // padding-top: .5%;
    }
  .edit-profile-change-email{
    &:hover{
      background-color: lighten($border, 2%);
    }
  }
  .edit-profile-change-password{
  }
  .edit-profile-logout-btn{
  }
}
.edit-profile-content-wrapper {
@media screen and (min-width: $break-large) {
    margin-top: 12%;
}
  .edit-profile-image{
  }
  .edit-profile-rating{
    @media screen and (min-width: $break-large) {
        font-size: 2em;
    }
    .actual-stars {
    }
  }
  .edit-profile-add-image{
    @media screen and (min-width: $break-large) {
        width: 35%;
        margin: 2% 0 0 32%;
        padding: 6% 0;
        font-size: 2em;
    }
  }
  .edit-profile-first-name{
    @media screen and (min-width: $break-large) {
        font-size: 2.5em;
        width: 28vw;
        margin: 2% 1% 2% 20%;
    }
  }
  .edit-profile-last-name{
    @media screen and (min-width: $break-large) {
        font-size: 2.5em;
        width: 28vw;
    }
  }
  .edit-profile-organization{
    @media screen and (min-width: $break-large) {
        font-size: 2.5em;
        width: 60vw;
        margin-left: 20%;
    }
  }
  .edit-profile-location{
    @media screen and (min-width: $break-large) {
        font-size: 2.5em;
        width: 60vw;
        margin-left: 20%;
    }
  }
  .edit-profile-description{
    @media screen and (min-width: $break-large) {
        font-size: 2.5em;
        width: 60vw;
        margin-left: 20%;
    }
  }
}
#file-input-edit-profile{
}
.edit-profile-footer{
  @media screen and (min-width: $break-large) {
      font-size: 2em;
      font-weight: 600;
      line-height: 1.75em;
  }
}
