.edit-post-subheader {
  @media screen and (min-width: $break-large) {
        position: fixed;
        top: 65px;
        line-height: .75em;
        margin-top: 0;
        color: darken($headerbg, 10%);
        padding: .5% 0;
        font-size: 1.75em;
  }
}
.edit-post-content-wrapper{
  @media screen and (min-width: $break-large) {
      margin: 7% 0 0 29%;
  }
  .edit-post-image{
    @media screen and (min-width: $break-large) {
        margin: 2% 0 0 15.5%;
        height: 250px;
        width: 250px;
    }
  }
}
#file-input-edit-post{
}
.edit-post-add-image{
  @media screen and (min-width: $break-large) {
    width: 50%;
    font-size: 3em;
  }
}
.edit-post-title {
  @media screen and (min-width: $break-large) {
    width: 50%;
    font-size: 1.5em;
  }
}
.edit-post-location {
  @media screen and (min-width: $break-large) {
    width: 50%;
    font-size: 1.5em;
  }
}
.edit-post-start-na {
  @media screen and (min-width: $break-large) {
      width: 20%;
      margin-right: 9%;
      margin-left: 2%;
      font-size: 1.5em;
      text-align: center;
  }
}
.edit-post-start-time-na{
  @media screen and (min-width: $break-large) {
      width: 20%;
      margin-right: 25%;
      font-size: 1.5em;
      text-align: center;
  }
}
.edit-post-end-na {
  @media screen and (min-width: $break-large) {
      width: 20%;
      margin-right: 9%;
      margin-left: 2%;
      font-size: 1.5em;
      text-align: center;
  }
}
.edit-post-end-time-na{
  @media screen and (min-width: $break-large) {
      width: 20%;
      margin-right: 5%;
      text-align: center;
      font-size: 1.5em;
  }
}
.edit-post-description {
  @media screen and (min-width: $break-large) {
      width: 50%;
      font-size: 1.5em;
      margin: 1% 0 2% 2%;
      height: 15vh;
  }
}
.edit-post-btn {
@media screen and (min-width: $break-large) {
    position: fixed;
    font-size: 2em;
    font-weight: 600;
    line-height: 1.75em;
}
}
