.landing-overlay-content {
    margin-top: 15%;
    padding-top: 15%;
    z-index: 999;
    background: url('/assets/images/landing_background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    @media screen and (min-width: $break-large) {
        margin-top: 15%;
        padding-top: 8%;
    }
}

.landing-login-email-input{
  width: 80%;
  border: solid 5px white;
  font-size: 4em;
  line-height: 1em;
  margin: 5%;
  padding: 3%;
  background: transparent;
  color: white;
  @media screen and (min-width: $break-large) {
      font-size: 1.5em;
      width: 35%;
      margin: 1% 10% 0 13%;
      padding: 1%;
      border: solid 3px black;
  }
}

.landing-login-password-input{
  width: 80%;
  border: solid 5px white;
  font-size: 4em;
  line-height: 1em;
  margin: 5%;
  padding: 3%;
  background: transparent;
  color: white;
  @media screen and (min-width: $break-large) {
      font-size: 1.5em;
      width: 35%;
      margin: 1% 10% 0 13%;
      padding: 1%;
      border: solid 3px black;
  }
}

.landing-login-btn{
  width: 80%;
  font-size: 2.5em;
  line-height: 1.8em;
  text-align: center;
  margin: 2% 0 5% 10%;
  padding: 2%;
  background-color: $buttonaccent2;
  color: white;
  cursor: pointer;
  @media screen and (min-width: $break-large) {
      display: block;
      margin: 3% 0 0 13%;
      width: 20%;
      text-align: center;
      border-radius: 10px;
      font-size: 2em;
      line-height: 1em;
      border: 3px solid darken($buttonaccent2, 5%);
  }
  &:hover{
    background-color: darken($buttonaccent2, 5%);
  }
}

.landing-signup-btn{
  width: 80%;
  font-size: 2.5em;
  line-height: 1.8em;
  text-align: center;
  margin: 5% 0 5% 10%;
  padding: 2%;
  background-color: $buttonbg;
  color: white;
  cursor: pointer;
  @media screen and (min-width: $break-large) {
      display: block;
      margin: 3% 0 0 13%;
      width: 20%;
      text-align: center;
      border-radius: 10px;
      font-size: 2em;
      line-height: 1em;
      border: 3px solid darken($buttonbg, 5%);
  }
  &:hover{
    background-color: darken($buttonbg, 5%);
  }
}

.login-about {
    margin: 50px 2.5%;
    background-color: transparent;
    width: 90%;
    padding: 2% 2%;
    // border: solid 2px darken($border, 10%);
    color: white;
    font-family: "Overpass", sans-serif;
    text-align: center;
  font-size: 4em;
  line-height: 1.5em;
  @media screen and (min-width: $break-large) {
    font-size: 1.5em;
    font-weight: lighter;
    width: 40%;
    line-height: 1.5em;
    margin: -28% 0 10% 50%;
    text-align: left;
    background-color: $bodybg;
    border: none;
  }
}

.login-legal {
    margin: 50px 2.5%;
    width: 90%;
    padding: 2% 2%;
    color: white;
    font-family: sans-serif;
  text-align: center;
}
