.post-detail-title {
  font-size: 4em;
  font-weight: 700;
  margin: 5% 0;
  width: 100%;
  text-align: center;
  position: fixed;
  top: 4.5%;
  background-color: lighten($headerbg, 35%);
  height: 5%;

}

.post-detail-supplier-name {
  margin: 5%;
  font-size: 3em;
  .post-detail-rating{
    display: block;
  }
  span {
    font-weight: bold;
  }
}

.post-detail-image {
  margin: 5%;
}

.post-detail-details {
  margin: 5%;
}

.post-detail-location {
  margin: 5%;
  font-weight: bold;
}

.post-detail-directions-link {
  color: white;
  background-color: $buttonbg;
  padding: 5px 15px;
  text-decoration: none;
  font-size: 2em;
}

.post-detail-location-image {
  margin: 5%;
}

#post-detail-map{
  height: 500px;
  width: 500px;
  margin-bottom: 25px;
}

.post-detail-start {
  margin: 5%;
  display: block;
  // border: solid thin black;
  span{
    font-size: 2em;
    display: block;
    font-weight: bold;
  }

}

.post-detail-end {
  margin: 5%;
  display: block;
  // border: solid thin black;
  span{
    font-size: 2em;
    display: block;
    font-weight: bold;
  }
}
