.post-detail-title {
  @media screen and (min-width: $break-large) {
        position: fixed;
        top: 65px;
        line-height: .75em;
        margin-top: 0;
        color: darken($headerbg, 10%);
        padding: .5% 0;
        font-size: 1.75em;
  }
}
.post-detail-content-wrapper{
    @media screen and (min-width: $break-large) {
        margin-left: 21.5%;
    }
  .post-detail-supplier-wrap{
    @media screen and (min-width: $break-large) {
        font-size: 1.5em;
        margin-top: 5%;
        margin-bottom: 1%;
    }
    .post-detail-supplier-name {
      @media screen and (min-width: $break-large) {
        //   margin: 2% 0 0 30%;
          width: 35%;
      }
      span {
      }
    }
    .post-detail-org{
      @media screen and (min-width: $break-large) {
        //   width: 20%;
      }
      span {
      }
    }
  }
  .post-detail-details{
    @media screen and (min-width: $break-large) {
        font-size: 1.5em;
        margin-top: 1%;
    }
    span{
    }
  }
  .post-detail-images{
      width: 100%;
    .post-detail-img{
        @media screen and (min-width: $break-large) {
            height: 300px;
            width: 300px;
            margin: 0 6% 0 2%;
        }
    }
    #post-detail-map{
      @media screen and (min-width: $break-large) {
          height: 300px;
          width: 300px;
      }
    }
  }
  .post-detail-location{
    @media screen and (min-width: $break-large) {
        margin: 2% 0 5% 2%;
        font-size: 2em;
    }
    span{
    }
  }
  .post-detail-directions-link{
    @media screen and (min-width: $break-large) {
        width: 53%;
        margin: 2% 0 2% 2%;
        font-size: 3em;
    }
  }
  .post-detail-time-wrap{
    @media screen and (min-width: $break-large) {
        margin: 2% 0 8% 2%;
        font-size: 2em;
    }
    .post-detail-start{
        @media screen and (min-width: $break-large) {
            width: 35%;
        }
      span{
      }
    }
    .post-detail-end{
      span{
      }
    }
  }
}
.post-detail-claim-button {
  @media screen and (min-width: $break-large) {
      font-size: 2em;
      font-weight: 600;
      line-height: 1.75em;
  }
}
.post-detail-bottom-button {
  @media screen and (min-width: $break-large) {
      font-size: 2em;
      font-weight: 600;
      line-height: 1.75em;
  }
}
