#search-results-subheader{
  @media screen and (min-width: $break-large) {
      width: 100%;
      padding: 4% 0 0 0;
      margin: 2% 0 0 0;
      z-index: 0;
      font-size: 1.75em;
      text-align: left;
      color: darken($headerbg, 5%);
  }
  #search-results-search{
    @media screen and (min-width: $break-large) {
        font-size: .75em;
        line-height: 1em;
        margin: 1.5% 0 0 15%;
        width: 58%;
        border: none;
    }
  }
  #search-results-subheader-text{
    @media screen and (min-width: $break-large) {
        font-size: .6em;
        padding: 0 0 .75% 0;
        margin: 1.1% 0 0 15%;
        line-height: 1em;
    }
    #search-results-distance-input{
      @media screen and (min-width: $break-large) {
          font-size: 1em;
          text-align: center;
          width: 5%;
          color: darken($headerbg, 5%);
      }
    }
    #search-results-subheader-search-button{
      @media screen and (min-width: $break-large) {
          font-size: .75em;
          margin: -3.5% 22% 1% 0;
          padding: .5%;
          border: 3px solid lighten($buttonbg, 5%);
          border-radius: 7px;
      }
    }
  }
}
.search-results-content-wrapper{
.search-results-loading-icon {
  @media screen and (min-width: $break-large) {
      margin-top: 0;
      font-size: 2em;
  }
  i {
    @media screen and (min-width: $break-large) {
        margin-left: 43%;
    }
  }
  span {
  }
}
.results-card {
  .results-header {
    .results-card-title {
    }
    .results-card-end {
    }
  }
  .results-add-picture{
  }
  .results-transaction-details {
    .results-supplier-name-text{
    }
    .results-transaction-location{
    }
  }
}
  .results-details {
    .fa-info-circle{
      .search-details-text{
      }
    }
  }
}
.results-footer{
  @media screen and (min-width: $break-large) {
      font-size: 2em;
      line-height: 1.75em;
      font-weight: 600;
  }
}
