#search-results-subheader{
  @media screen and (min-width: $break-large) {
      width: 100%;
      padding: 4% 0 0 0;
      margin: 2% 0 0 0;
      z-index: 0;
      font-size: 1.75em;
      text-align: left;
      border-bottom: 3px solid darken($headerbg, 5%);
      color: darken($headerbg, 5%);
  }
  #search-results-search{
    @media screen and (min-width: $break-large) {
        font-size: .75em;
        line-height: 1em;;
        margin: 1.5% 0 0 10%;
        width: 58%;
        border: none;
    }
  }
  #search-results-subheader-text{
    @media screen and (min-width: $break-large) {
        font-size: .6em;
        padding: 0 0 .75% 0;
        margin: 1.1% 0 0 11%;
        line-height: 1em;
    }
    #search-results-distance-input{
      @media screen and (min-width: $break-large) {
          font-size: 1em;
          text-align: center;
          width: 5%;
          color: darken($headerbg, 5%);
      }
    }
    #search-results-subheader-search-button{
      @media screen and (min-width: $break-large) {
          font-size: .75em;
          margin: -4% 25% 1% 0;
          padding: .5%;
          border: 3px solid lighten($headerbg, 15%);
          border-radius: 7px;
      }
      &:hover{
        background-color: lighten($headerbg, 10%);
      }
    }
  }
}

.results-footer{
  @media screen and (min-width: $break-large) {
      border-top: 6px solid darken($buttonaccent2, 5%);
      font-size: 2em;
      line-height: 1.75em;
      font-weight: 600;
  }
  &:hover{
    background-color: darken($buttonaccent2, 5%);
  }
}
