.sign-up-title{
  @media screen and (min-width: $break-large) {
      margin-top: 8%;
      font-size: 2.5em;
      font-weight: 600;
  }
}
.sign-up-input {
  @media screen and (min-width: $break-large) {
      font-size: 1.5em;
      width: 35%;
      margin: 1% 10% 0 33%;
      padding: 1%;
      border: solid 3px black;
  }
}
.sign-up-submit-btn{
  @media screen and (min-width: $break-large) {
      display: block;
      margin: 3% 0 0 33.25%;
      width: 34%;
      text-align: center;
      border-radius: 10px;
      font-size: 2em;
      line-height: 1.5em;
      border: 3px solid darken($buttonaccent2, 5%);
  }
}
.sign-up-back-btn{
  @media screen and (min-width: $break-large) {
      position: fixed;
      font-size: 2em;
      font-weight: 600;
      line-height: 1.75em;
  }
}
