/*
Error: Invalid CSS after "//close body": expected "}", was ""
        on line 2008 of styles.scss

2003:   }
2004: }
2005:
2006: }
2007: //close body

Backtrace:
styles.scss:2008
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:1179:in `expected'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:1115:in `expected'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:1110:in `tok!'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:656:in `block'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:724:in `declaration_or_ruleset'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:674:in `block_child'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:666:in `block_contents'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:655:in `block'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:724:in `declaration_or_ruleset'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:674:in `block_child'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:666:in `block_contents'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:655:in `block'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:647:in `ruleset'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:673:in `block_child'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:666:in `block_contents'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:123:in `stylesheet'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:39:in `parse'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.21/lib/sass/engine.rb:403:in `_to_tree'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.21/lib/sass/engine.rb:378:in `_render_with_sourcemap'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.21/lib/sass/engine.rb:295:in `render_with_sourcemap'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:209:in `each'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:471:in `on_file_changed'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:328:in `block in watch'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.21/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.21/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.21/vendor/listen/lib/listen/adapters/polling.rb:48:in `poll_changed_directories'
/usr/local/lib/ruby/gems/2.3.0/gems/sass-3.4.21/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"//close body\": expected \"}\", was \"\"\A         on line 2008 of styles.scss\A \A 2003:   }\A 2004: }\A 2005: \A 2006: }\A 2007: //close body"; }
