$headerbg: #33691e;
$subheaderbg: #F2F24D;
$itembg: #CCFFD7;
$border: #F4F4F4;
$bodybg: #FCF7F8;
$buttonbg: #0c8183;
$buttonaccent: #f06e00;
$buttonaccent2: #8bc34a;
$aubergine: #4a1d3b;

$cardHeight: 20vh;

body{
  font-family: 'overpass', sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  background-color: $bodybg;
  &:visited{
    text-decoration: none;
  }
  .app-header{
    font-weight: 700;
    height: 40%;
    width: 100%;
    background-color: lighten($headerbg, 3%);
    color: white;
    display: inline-block;
    padding: 2% 2%;
    font-size: 1.5em;
    .app-header-txt{
      display: inline-block;
      cursor: pointer;
    }
    .app-header-login-icon{
      float: right;
      margin: 0 5% 0 0;
      cursor: pointer;
    }
  }

//--------------edit profile page styling---------//
  .edit-profile-subheader{
    background-color:lighten($subheaderbg, 25%);
    width: 100%;
    height: 20%;
    color: darken($headerbg, 5%);
    .edit-profile-subheader-txt{
      font-size: 2em;
      line-height: 1.3em;
      padding: 2% 0 2% 4%;
      display: inline-block;
    }
    .edit-profile-subheader-change-pass{
      float: right;
      text-align: center;
      background-color: lighten($buttonaccent, 35%);
      padding: 3.2% 2%;
      display: inline-block;
      color: white;
      cursor: pointer;
      &:hover{
        background-color: lighten($buttonaccent, 30%);
      }
    }
  }
  .edit-profile-add-picture{
    display: block;
    // height: 20%;
    width: 100%;
    text-align: center;
    margin: 3% 0;
    // border-bottom : solid thin darken($border, 30%);
    .fa-camera-retro{
      color:darken($border, 25%);
      font-size: 5em;
      padding: 25vw ;
      border: solid thin darken($border, 25%);
      background-color: darken($bodybg, 5%);
      cursor: pointer;
      .edit-profile-add-picture-txt{
        display: block;
        font-size: .3em;
        font-family: 'overpass', sans-serif;
        font-weight: 200;
      }
    }
  }
  .edit-profile-first-name{
    margin: 2% 0 2% 2%;
    width: 45vw;
    font-size: 1.5em;
  }
  .edit-profile-last-name{
    margin: 2% 0 0 2%;
    width: 47vw;
    font-size: 1.5em;
  }
  .edit-profile-email{
    margin: 2%;
    width: 96vw;
    font-size: 1.5em;
  }
  .edit-profile-organization{
    margin: 2%;
    width: 96vw;
    font-size: 1.5em;
  }
  .edit-profile-location{
    margin: 2%;
    width: 96vw;
    font-size: 1.5em;
  }
  .edit-profile-description{
    display: block;
    margin: 2%;
    width: 96vw;
    height: 18vh;
    font-size: 1.3em;
  }
  .edit-profile-footer{
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: $buttonaccent2;

    position: fixed;
    text-align: center;
    font-size: 2.5em;
    line-height: 1.3em;
    color: white;
    cursor: pointer;
    font-weight: 200;
    &:hover{
      background-color: darken($buttonaccent2, 5%);
    }
  }


//---------sign up page styling------------//

  .sign-up-title{
    // margin-top: 5%;
    padding: 2% 0;
    font-size: 2em;
    text-align: center;
    background-color: lighten($subheaderbg, 25%)
  }
  .sign-up-form {
    width: 80%;
    margin: 10% 10% 5% 10%;
    text-align: center;
  }
  .sign-up-label {
    display: block;
    margin-top: 5%;
    text-align: left;
  }
  .sign-up-input {
    width: 100%;
    border: solid 2px $border;
    font-size: 1em;
    line-height: 2;
    padding: 5px;
    margin-top: 2%;
    color: black;
  }
  .sign-up-link {
    text-decoration: none;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .sign-up-button {
    border: solid 2px $border;
    background-color: $buttonaccent2;
    color: white;
    font-size: 1.5em;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
    &:hover{
      background-color: darken($buttonaccent2, 5%);
    }
  }

  .sign-up-submit-btn{
    margin: 2% 0 2% 8%;
    background-color: $buttonaccent2;
    color: white;
    padding: 2% 35%;
    font-size: 1.3em;
    cursor: pointer;
    &:hover{
      background-color: darken($buttonaccent2, 5%);
    }
  }

  .sign-up-back-btn{
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 2.5em;
    line-height: 1.3em;
    color: white;
    background-color: $buttonbg;
    text-align: center;
    cursor: pointer;
    &:hover{
      background-color: darken($buttonbg, 5%);
    }
  }

//------ Home Page/Dashboard ------ //
  .home-subheader{
    background-color:lighten($subheaderbg, 25%);
    width: 100%;
    height: 20%;
    color: darken($headerbg, 5%);
    .home-subheader-see-all{
      line-height: 1.2em;
      text-align: center;
      display: inline-block;
      width: 32.5%;
      cursor: pointer;
      &:hover{
        background-color: lighten($subheaderbg, 15%);
      }
    }
    .home-subheader-see-claimed{
      line-height: 1.2em;
      text-align: center;
      display: inline-block;
      margin: 0 0 0 0;
      width: 32.5%;
      margin: 0 0 0 -1%;
      cursor: pointer;
        // background-color: lighten($subheaderbg, 20%);
      &:hover{
        background-color: lighten($subheaderbg, 15%);
      }
    }
    .home-subheader-see-provided{
      line-height: 1.2em;
      text-align: center;
      display: inline-block;
      width: 32.5%;
      cursor: pointer;
      &:hover{
        background-color: lighten($subheaderbg, 15%);
      }
    }
  }
  .home-card {
    display: block;
    height: $cardHeight;
    // border: solid 5px $border;
    background-color: lighten($itembg, 10%);
    width:95%;
    margin: 5% 0 5% 2.5%;
    .home-header {
      height: $cardHeight / 4;
      background-color: lightgray;
      span {
        float: right;
      }
    }
    .home-transaction-details {
      display: inline-block;
      width: 60%;
    }
    .home-chat {
      display: inline-block;
      background-color: $buttonbg;
      width: 19%;
      height: $cardHeight * 0.75;
      position: absolute;
      text-align: center;
      cursor: pointer;
      .fa-comment{
        margin: 20% 0 0 0;
        color: white;
        font-size: 3em;
        display: block;
        .home-chat-text{
          font-size: .5em;
          font-family: 'overpass', sans-serif;
        }
      }
      &:hover{
        background-color: darken($buttonbg, 5%);
      }
    }
    .home-details {
      display: inline-block;
      background-color: lighten($buttonaccent, 30%);
      width: 19%;
      height: $cardHeight * 0.75;
      position: absolute;
      margin-left: 19%;
      text-align: center;
      cursor: pointer;
      &:hover{
        background-color: lighten($buttonaccent, 25%);
      }
      .fa-info-circle{
        margin: 20% 0 0 0;
        color: white;
        font-size: 3em;
        display: block;
        .home-details-text{
          font-size: .5em;
          font-family: 'overpass', sans-serif;
        }
      }
    }
  }

    .home-search{
      position: fixed;
      bottom: 0;
      right: 50%;
      display: inline-block;
      width: 50%;
      background-color: $buttonaccent2;
      text-align: center;
      font-size: 1.5em;
      line-height: 2em;
      color: white;
      cursor: pointer;
      &:hover{
        background-color: darken($buttonaccent2, 5%);
      }
    }
    .home-post{
      position: fixed;
      bottom: 0;
      left: 50%;
      display: inline-block;
      width: 50%;
      background-color: $buttonbg;
      text-align: center;
      font-size: 1.5em;
      line-height: 2em;
      color: white;
      cursor: pointer;
      &:hover{
        background-color: darken($buttonbg, 5%);
      }
    }


// ---------- Post Detail from Search ---------

  .post-detail-title {
    font-size: 2em;
    margin: 5%;
  }

  .post-detail-supplier-name {
    margin: 5%;
  }

  .post-detail-image {
    margin: 5%;
  }

  .post-detail-details {
    margin: 5%;
  }

  .post-detail-location {
    margin: 5%;
    font-weight: bold;
  }

  .post-detail-location-image {
    margin: 5%;
  }

  .post-detail-start {
    margin: 5%;
    display: block;
    border: solid thin black;
  }

  .post-detail-end {
    margin: 5%;
    display: block;
    border: solid thin black;
  }

  .post-detail-claim-button {
    background-color: $buttonbg;
    color: white;
    font-size: 2.5em;
    line-height: 1.3em;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 50%;
    width: 50%;
    cursor: pointer;
    &:hover{
      background-color: darken($buttonbg, 5%);
    }
  }

  .post-detail-bottom-button {
    background-color: $buttonaccent2;
    color: white;
    font-size: 2.5em;
    line-height: 1.3em;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 50%;
    cursor: pointer;
    &:hover{
      background-color: darken($buttonaccent2, 5%);
    }
  }


  //-------------search results page styling--------------//
  .results-subheader{
    background-color: lighten($subheaderbg, 25%);
    .results-search{
      margin: 2% 0 0 2%;
      width: 95%;
    }
    .results-subheader-text{
      font-size: .75em;
      margin: 2% 0 0 2%;
      padding: 0 0 2% 0;
      .results-distance-input{
        width: 10%;
      }
      .results-subheader-search-button{
        display: inline-block;
        float: right;
        margin: 0 2% 2% 0;
        background-color: lighten($headerbg, 20%);
        padding: 1.5%;
        color: white;
        cursor: pointer;
        &:hover{
          background-color: lighten($headerbg, 15%);
        }
      }
    }
  }
  .results-card {
    display: block;
    height: $cardHeight;
    // border: solid 5px $border;
    background-color: lighten($itembg, 10%);
    width:95%;
    margin: 5% 0 5% 2.5%;
    .results-header {
      // height: $cardHeight / 4;
      background-color: lightgray;
      padding: 2%;
      span {
        float: right;
      }
    }
    .results-transaction-details {
      display: inline-block;
      width: 50%;
      height: $cardHeight * 0.75;
      // border: solid thin black;
      margin: 0 0 0 25%;
      .results-supplier-name-text{
        line-height: 1.2em;
        font-weight: 500;
      }
      .results-transaction-location{
        line-height: 1.2em;
        font-weight: 500;
      }

    }

    .results-add-picture{
      position: absolute;
      margin: 2% 0 0 0;
      display: inline;
      // height: 20%;
      width: 20%;
      text-align: center;
      // margin: 2%;
      // border-bottom : solid thin darken($border, 30%);
      .fa-camera-retro{
        color:darken($border, 25%);
        font-size: 3em;
        padding: 25% ;
        border: solid thin darken($border, 25%);
        background-color: darken($bodybg, 5%);
        cursor: pointer;
        .results-add-picture-txt{
          display: block;
          font-size: .3em;
          font-family: 'overpass', sans-serif;
          font-weight: 200;
        }
      }
    }
    .results-details {
      display: inline-block;
      background-color: lighten($aubergine, 50%);
      width: 23.8%;
      height: $cardHeight * 0.82;
      position: absolute;
      // margin: -33.25% 0 0 72%;
      text-align: center;
      color: white;
      cursor: pointer;
      &:hover{
        background-color: lighten($aubergine, 45%);
      }
      .fa-info-circle{
        font-size: 3em;
        margin: 20% 0 0 0;
        .search-details-text{
          display: block;
          font-family: 'overpass', sans-serif;
          font-size: .5em;
        }
      }
    }
  }
  .results-footer{
    background-color: $buttonaccent2;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 2.5em;
    line-height: 1.3em;
    color: white;
    cursor: pointer;
    font-weight: 200;

    &:hover{
      background-color: darken($buttonaccent2, 5%);
    }
  }
  //------ Login View------ //

  .login-signup {
	margin: 50px 0 0 20%;
	background-color: $buttonaccent2;
	width:60%;
	color: white;
	padding: 30px 0;
	text-align: center;
  text-decoration: none;
  cursor: pointer;
  &:hover{
    background-color: darken($buttonaccent2, 5%);
  }
  }

  .login-login {
	margin: 50px 0 5% 20%;
	background-color: lighten($buttonbg, 15%);
	width:60%;
	color: white;
	padding: 30px 0;
	text-align: center;
  cursor: pointer;
  &:hover{
    background-color: lighten($buttonbg, 10%);
  }
  }

  .landing-login-email-input{
    width: 99%;
    border-style: solid thin darken($border, 10%);
    font-size: 1.5em;
    line-height: 1.2em;
    margin: 5% 0;
  }

  .landing-login-password-input{
    width: 99%;
    font-size: 1.5em;
    margin: 5% 0;
  }

  .landing-login-submit{
    margin: 2% 0 2% 10%;
    background-color: $buttonaccent2;
    color: white;
    padding: 2% 30%;
    font-size: 1.3em;
    cursor: pointer;
    &:hover{
      background-color: darken($buttonaccent2, 5%);
    }
  }

  .login-about {
	margin: 50px 2.5%;
	background-color: white;
	width: 90%;
	padding: 2% 2%;
	border: solid 2px darken($border, 10%);
	color: darken($headerbg, 15%);
	font-family: sans-serif;
	text-align: center;
  }

  .login-legal {
	margin: 50px 2.5%;
	width: 90%;
	padding: 2% 2%;
	color: darken($headerbg, 15%);
	font-family: sans-serif;
   	text-align: center;
  }

  /*------------------- LANDING PAGE TAB STYLING ---------------------- */

  .cb {
      list-style: none;
      padding: 10px;
      display:inline-block;
      background-color: darken($buttonbg, 15%);
      color: #FFF;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
  }
  .cb:hover{
    background-color: lighten($aubergine, 20%);
    color: #FFF;
  }
  .tab-container {
    margin: 50px 0 0 2.5%;
  }
  .form-container {
    padding: 2% 2%;
  	background-color: white;
  	width: 90%;
  	border: solid 2px darken($buttonbg, 15%);
  	color: darken($headerbg, 15%);
  	font-family: sans-serif;
  }


    //--------- Profile [public] View-------------//
      .profile-public-info {
        position: relative;
        .profile-pub-picture {
          position: absolute;
          top: 20px;
          left: 75px;
          display: block;
        }
        .profile-pub-name {
          position: absolute;
          .profile-pub-firstname {
            position: absolute;
            top: 300px;
            width: 125px;
            left: 75px;
            height: 20px;
            text-align: center;
            display: inline-block;
          }
          .profile-pub-lastname {
            position: absolute;
            top: 300px;
            width: 125px;
            left: 200px;
            height: 20px;
            text-align: center;
            display: inline-block;
          }
        }
        .profile-pub-data {
          position: absolute;
          .profile-pub-org {
            position: absolute;
            top: 335px;
            width: 125px;
            left: 135px;
            height: 20px;
            text-align: center;
          }
          .profile-pub-location {
            position: absolute;
            position: absolute;
            top: 360px;
            width: 125px;
            left: 135px;
            height: 20px;
            text-align: center;
          }
          .profile-pub-rating {
            position: absolute;
            position: absolute;
            top: 390px;
            width: 125px;
            left: 135px;
            height: 20px;
            text-align: center;
          }
        }
        .profile-pub-about {
          position: absolute;
          top: 435px;
          width: 385px;
          left: 15px;
          height: 20px;
        }
      }
    .profile-pub-footer {
      .profile-pub-home {
        display: inline-block;
        width: 50%;
        position: fixed;
        bottom: 0;
        text-align: center;
        font-size: 2.5em;
        line-height: 1.3em;
        color: white;
        background-color: $buttonaccent2;
        cursor: pointer;
        font-weight: 200;
        &:hover{
          background-color: darken($buttonaccent2, 5%);
        }
      }
      .profile-pub-back {
        display: inline-block;
        margin-left: 50%;
        width: 50%;
        position: fixed;
        bottom: 0;
        text-align: center;
        font-size: 2.5em;
        line-height: 1.3em;
        color: white;
        background-color: $aubergine;
        cursor: pointer;
        font-weight: 200;
        &:hover{
          background-color: darken($aubergine, 5%);
        }
      }
    }

  //--------- Create View -------------//

  .create-info {
    padding: 2% 2%;
    position: relative;
    .create-subheader {
      position: absolute;
      top: 20px;
      width: 95%;
      height: 20px;
      font-size: 2em;
      text-align: center;
    }
    .create-title {
      position: absolute;
      top: 60px;
      height: 20px;
      background-color: white;
      width: 95%;
      border: solid 2px $border;
      font-size: 1em;
      margin-top: 2%;
      color: black;
    }
    .create-picture {
      position: absolute;
      top: 115px;
      width: 95%;
      height: 325px;
      color: black;
      text-align: center;
    }
    .fa-camera-retro{
      color:darken($border, 25%);
      padding: 90px 50px;
      display: inline-block;
      border: solid thin darken($border, 25%);
      background-color: darken($bodybg, 5%);
      cursor: pointer;
    }
    .create-location {
      position: absolute;
      top: 325px;
      height: 20px;
      background-color: white;
      width: 95%;
      border: solid 2px $border;
      font-size: 1em;
      margin-top: 2%;
      color: black;
    }
    .create-start-na {
      position: absolute;
      display: inline-block;
      top: 362px;
      height: 20px;
      background-color: white;
      width: 40%;
      border: solid 2px $border;
      font-size: 1em;
      margin-top: 2%;
      color: black;
    }
    .create-start-time-na{
      position: absolute;
      display: inline-block;
      top: 392px;
      height: 20px;
      background-color: white;
      width: 40%;
      border: solid 2px $border;
      font-size: 1em;
      margin-top: 2%;
      color: black;
    }
    .create-end-na {
      position: absolute;
      display: inline-block;
      top: 362px;
      left: 57%;
      height: 20px;
      background-color: white;
      width: 40%;
      border: solid 2px $border;
      font-size: 1em;
      margin-top: 2%;
      color: black;
    }
    .create-end-time-na{
      position: absolute;
      display: inline-block;
      left: 57%;
      top: 392px;
      height: 20px;
      background-color: white;
      width: 40%;
      border: solid 2px $border;
      font-size: 1em;
      margin-top: 2%;
      color: black
    }

    .create-description {
      position: absolute;
      top: 430px;
      height: 85px;
      background-color: white;
      width: 95%;
      border: solid 2px $border;
      font-size: 1em;
      margin-top: 2%;
      color: black;
    }
  }

  .create-post {
    background-color: $buttonaccent2;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 2.5em;
    line-height: 1.3em;
    color: white;
    cursor: pointer;
    font-weight: 200;

    &:hover{
     background-color: darken($buttonaccent2, 5%);
    }
  }

//-------- Created View --------------//

    .created-info {
      position: relative;
    //   padding: 2% 2%;
      .created-post-title {
        position: absolute;
        top: 20px;
        height: 20px;
        width: 95%;
        font-size: 2em;
        margin-top: 2%;
        color: black;
        text-align: center;
      }
      .created-post-description {
        position: absolute;
        top: 70px;
        height: 20px;
        width: 95%;
        font-size: 1em;
        margin-top: 2%;
        color: black;
      }
      .created-post-images {
        // display: block;
        position: relative;
        .created-post-photo {
          display: inline-block;
          position: absolute;
          top: 190px;
          right: 3%;
          margin-top: 2%;
        }
        .created-post-map {
          display: inline-block;
          position: absolute;
          top: 190px;
          left: 3%;
          margin-top: 2%;
        }
      }
      .created-post-location {
        position: absolute;
        display: block;
        .created-post-address {
          display: inline-block;
          position: absolute;
          top: 365px;
          left: 20px;
          width: 160px;
          height: 20px;
          margin: 15px 5% 15px 1.5%;
        }
        .created-post-directions-btn {
          display: inline-block;
          background-color: $buttonbg;
          border-radius: 5px;
          color: white;
          padding: 8px 0;
          position: absolute;
          text-align: center;
          top: 365px;
          left: 220px;
          width: 160px;
          height: 20px;
          cursor: pointer;
          &:hover{
            background-color: darken($buttonbg, 5%);
          }
        }
      }
      .created-post-calendar {
        position: absolute;
        // border: 1px solid;
        .created-post-time {
          position: absolute;
        //   border: 1px solid;
          display: inline-block;
          .created-post-start {
            padding: 5px 0 0 0;
            position: absolute;
            top: 425px;
            left: 20px;
            width: 160px;
            height: 20px;
            //   border: 1px solid;
          }
          .created-post-end {
            padding: 5px 0 0 0;
            position: absolute;
            top: 450px;
            left: 20px;
            width: 160px;
            height: 20px;
            //   border: 1px solid;
          }
        }
        .created-post-calendar-btns {
          position: absolute;
          vertical-align: top;
          display: inline-block;
          .google-cal {
            position: absolute;
            display: inline-block;
            top: 420px;
            left: 230px;
            width: 80px;
            height: 20px;
          }
          .ical {
            position: absolute;
            display: inline-block;
            top: 420px;
            left: 305px;
            width: 80px;
            height: 20px;
          }
        }
      }
    }
  .created-post-footer-home {
    background-color: $buttonaccent2;
    position: fixed;
    bottom: 0;
    width: 33.33%;
    text-align: center;
    font-size: 2.5em;
    line-height: 1.3em;
    color: white;
    cursor: pointer;
    font-weight: 200;
    &:hover{
      background-color: darken($buttonaccent2, 5%);
    }
  }
  .created-post-footer-edit {
    background-color: $buttonaccent;
    position: fixed;
    bottom: 0;
    width: 33.33%;
    margin-left: 33.33%;
    text-align: center;
    font-size: 2.5em;
    line-height: 1.3em;
    color: white;
    cursor: pointer;
    font-weight: 200;
    &:hover{
      background-color: darken($buttonaccent, 5%);
    }
  }
  .created-post-footer-delete {
    background-color: $aubergine;
    position: fixed;
    bottom: 0;
    width: 33.33%;
    margin-left: 66.33%;
    text-align: center;
    font-size: 2.5em;
    line-height: 1.3em;
    color: white;
    cursor: pointer;
    font-weight: 200;
    &:hover{
      background-color: darken($aubergine, 5%);
    }
  }

//----------chat page styling----------//
  .chat-subheader{
    background-color: lighten($subheaderbg, 25%);
    font-size: 1.5em;
    line-height: 1.5em;
    .chat-other-user-text{
      font-weight: 700;
    }
  }
  .chat-other-user-response{
    width: 65%;
    display: block;
    font-size: 1.5em;
    line-height: 1.2em;
    background-color: white;
    border-radius: 0 .3em .3em .3em;
    margin: 2%;
    padding: 2% 1%;
  }
  .chat-current-user-response{
    float: right;
    width: 65%;
    display: block;
    font-size: 1.5em;
    line-height: 1.2em;
    background-color: white;
    margin: 2%;
    padding: 2% 1%;
    border-radius: .3em .3em 0 .3em;
  }
  .chat-input-block{
    margin: 1% 0 1% 2%;
    position: absolute;
    bottom: 7%;
    width: 100%;
    border-top: darken($border, 30%);
    .chat-input{
      width: 85%;
      font-size: 1.3em;
      line-height: 1.2em;
      // margin: 0 0 2% 0;
      }
      .fa-paper-plane-o{
        display: inline-block;
        font-size: 2em;
        margin: 0 0 0 -1%;
        padding: 0 1%;
        color: lighten($aubergine, 20%);
        // background-color: $itembg;
        &:hover{
          color: lighten($aubergine, 15%);
        }
    }
  }

  .chat-home-btn{
    display:inline-block;
    background-color: $buttonaccent2;
    font-size: 2em;
    line-height: 1.3em;
    text-align: center;
    color: white;
    width: 50%;
    position: fixed;
    bottom: 0;
    cursor: pointer;
    &:hover{
      background-color: darken($buttonaccent2, 5%);
    }
  }
  .chat-back-to-post-btn{
    display:inline-block;
    background-color: $buttonbg;
    font-size: 2em;
    line-height: 1.3em;
    text-align: center;
    color: white;
    width:50%;
    position: fixed;
    margin: 0 0 0 50%;
    bottom: 0;
    cursor: pointer;
    &:hover{
      background-color: darken($buttonbg, 5%);
    }
  }

// ------------ Your Claimed Posts --------- //

.claimed-title {
  font-size: 2em;
  margin: 5% 0 0 5%;
  display: inline-block;
  padding: 5px 0;
}

.claimed-chat {
  display: block;
  margin: 5% 0 0 5%;
  margin: 0 20%;
  font-size: 2em;
  background-color: $buttonaccent2;
  color: white;
  padding: 5px;
  text-align: center;
  cursor: pointer;
  &:hover{
    background-color: darken($buttonaccent2, 5%);
  }
}

.claimed-supplier-name {
  margin: 5% 0 0 5%;
}

.claimed-image {
  margin: 5%;
}

.claimed-details {
  margin: 5% 5% 0 5%;
}

.claimed-location {
  margin: 5% 0 0 5%;
}

.claimed-location-image {
  display: inline-block;
  margin: 5% 0 0 5%;
}

.claimed-time-calendar-wrap {
  // border: solid 1px red;
  display: inline-block;
  margin-left: 10%;
  .claimed-time-wrap {
    display: inline;
    margin: 10px 0;
    .claimed-start {
      display: inline;
      padding: 5px;
    }
    .claimed-end {
      display: inline;
      padding: 5px;
    }
  }
  .claimed-calendar-wrap {
    // border: solid 1px red;
    display: block;
    .claimed-iCal {
      // border: solid thin black;
      display: block;
      margin-top: 10px;
    }
    .claimed-googleCal {
      // border: solid thin black;
      display: block;
      margin-top: 10px;
    }
  }
}

.claimed-details-title {
  margin: 5%;
}

.claimed-bottom-button {
  position: fixed;
  bottom: 0;
  width: 50%;
  text-align: center;
  font-size: 2.5em;
  line-height: 1.3em;
  color: white;
  cursor: pointer;
  background-color: $buttonbg;
  cursor: pointer;
  &:hover{
    background-color: darken($buttonbg, 5%);
  }
}

.claimed-remove-button {
  position: fixed;
  bottom: 0;
  width: 50%;
  margin-left: 50%;
  text-align: center;
  font-size: 2.5em;
  line-height: 1.3em;
  color: white;
  cursor: pointer;
  background-color: $buttonaccent2;
  cursor: pointer;
  &:hover{
    background-color: darken($buttonaccent2, 5%);
  }
}

}
//close body
