body {
  font-family: 'overpass', sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  background-color: white; }
  body .ng-view {
    width: 100%; }
  body:visited {
    text-decoration: none; }
  body .app-header {
    font-weight: 700;
    height: 5%;
    width: 100vw;
    background-color: #00f78c;
    color: white;
    display: block;
    padding: 2% 0;
    font-size: 4em;
    position: fixed;
    top: 0;
    z-index: 999; }
    body .app-header img {
      margin-left: 2%; }
    body .app-header .app-header-txt {
      display: inline-block;
      cursor: pointer;
      margin: 0 0 0 1%; }
    body .app-header .app-header-login-icon {
      float: right;
      margin: 0 2% 0 0;
      cursor: pointer; }
  body .edit-profile-content-wrapper {
    margin-top: 12%;
    overflow: scroll; }
  body .edit-profile-subheader {
    background-color: #fbfbc4;
    width: 100vw;
    height: 5%;
    display: block;
    color: #00de7e;
    position: fixed;
    top: 0; }
    body .edit-profile-subheader .edit-profile-subheader-txt {
      font-size: 3.5em;
      padding: 2% 0 2% 4%;
      display: inline-block; }
    body .edit-profile-subheader .edit-profile-logout {
      margin: 0 0 0 30%;
      font-size: 2em;
      background-color: #ffcda4;
      padding: 2% 1.8%;
      cursor: pointer; }
      body .edit-profile-subheader .edit-profile-logout:hover {
        background-color: #ffc08a; }
    body .edit-profile-subheader .edit-profile-subheader-change-pass {
      float: right;
      text-align: center;
      background-color: #ffcda4;
      padding: 1.6% 2%;
      display: inline-block;
      color: white;
      cursor: pointer;
      font-size: 2em; }
      body .edit-profile-subheader .edit-profile-subheader-change-pass:hover {
        background-color: #ffc08a; }
  body .edit-profile-image {
    margin: 2% 0 2% 25%; }
  body .edit-profile-add-image {
    background-color: #3DD6D0;
    color: white;
    font-size: 3em;
    text-align: center; }
  body #file-input-edit-profile {
    display: none; }
  body .edit-profile-choose-file {
    font-size: 2em; }
  body .edit-profile-image-input {
    font-size: 2em;
    color: white; }
  body .edit-profile-image-upload {
    background-color: #71F79F;
    font-size: 3em;
    color: white;
    margin: 0 2% 0 0; }
  body .edit-profile-add-picture {
    display: block;
    width: 100%;
    text-align: center;
    margin: 3% 0; }
    body .edit-profile-add-picture .fa-camera-retro {
      color: #b4b4b4;
      font-size: 5em;
      padding: 25vw;
      border: solid thin #b4b4b4;
      background-color: #f5e4e8;
      cursor: pointer; }
      body .edit-profile-add-picture .fa-camera-retro .edit-profile-add-picture-txt {
        display: block;
        font-size: .3em;
        font-family: 'overpass', sans-serif;
        font-weight: 200; }
  body .edit-profile-first-name {
    margin: 2% 0 2% 2%;
    width: 45vw;
    font-size: 3em; }
  body .edit-profile-last-name {
    margin: 2% 0 0 2%;
    width: 47vw;
    font-size: 3em; }
  body .edit-profile-email {
    margin: 2%;
    width: 96vw;
    font-size: 3em; }
  body .edit-profile-organization {
    margin: 2%;
    width: 96vw;
    font-size: 3em; }
  body .edit-profile-location {
    margin: 2%;
    width: 96vw;
    font-size: 3em; }
  body .edit-profile-description {
    display: block;
    margin: 2%;
    width: 96vw;
    height: 18vh;
    font-size: 3em; }
  body #edit-profile-submit-btn {
    background-color: #3DD6D0;
    color: white;
    font-size: 4em;
    padding: 1% 30%;
    margin: 0 0 10% 0; }
  body .edit-profile-footer {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #71F79F;
    position: fixed;
    text-align: center;
    font-size: 4em;
    line-height: 2em;
    color: white;
    cursor: pointer;
    font-weight: 200; }
    body .edit-profile-footer:hover {
      background-color: #59f68f; }
  body .sign-up-title {
    padding: 2% 0;
    font-size: 3em;
    text-align: center;
    background-color: #fbfbc4; }
  body .sign-up-label {
    display: block;
    margin-top: 5%;
    text-align: left;
    font-size: 2em;
    margin: 5% 0 0 10%; }
  body .sign-up-input {
    width: 80%;
    border: none;
    font-size: 2em;
    line-height: 1.8em;
    margin: 1% 0 5% 10%;
    color: black; }
  body .sign-up-submit-btn {
    margin: 2% 0 2% 10%;
    background-color: #71F79F;
    color: white;
    font-size: 2em;
    cursor: pointer;
    width: 80%;
    text-align: center;
    font-size: 3em;
    line-height: 2em; }
    body .sign-up-submit-btn:hover {
      background-color: #59f68f; }
  body .sign-up-back-btn {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 2.5em;
    line-height: 2em;
    color: white;
    background-color: #3DD6D0;
    text-align: center;
    cursor: pointer; }
    body .sign-up-back-btn:hover {
      background-color: #2ccec8; }
  body .home-content-wrapper {
    margin: 30% 0 20% 0;
    background-color: white; }
  body .home-subheader {
    background-color: #abffda;
    width: 100%;
    height: 3.5%;
    color: #00c46f;
    font-size: 3em;
    position: fixed;
    top: 7%;
    z-index: 999; }
    body .home-subheader .home-subheader-see-all {
      line-height: 1.2em;
      text-align: center;
      display: inline-block;
      width: 32.5%;
      cursor: pointer; }
      body .home-subheader .home-subheader-see-all:hover {
        background-color: #78ffc4; }
    body .home-subheader .home-subheader-see-claimed {
      line-height: 1.2em;
      text-align: center;
      display: inline-block;
      margin: 0 0 0 0;
      width: 32.5%;
      margin: 0 0 0 -1%;
      cursor: pointer; }
      body .home-subheader .home-subheader-see-claimed:hover {
        background-color: #f7f794; }
    body .home-subheader .home-subheader-see-provided {
      line-height: 1.2em;
      text-align: center;
      display: inline-block;
      width: 32.5%;
      cursor: pointer; }
      body .home-subheader .home-subheader-see-provided:hover {
        background-color: #f7f794; }
  body .home-card {
    display: block;
    height: 20vh;
    border: solid 2px #e7e7e7;
    background-color: white;
    width: 100%;
    margin: 2.5% 0; }
    body .home-card .home-header {
      height: 4vh;
      background-color: #f9f9f9;
      font-size: 3em;
      font-weight: 700; }
      body .home-card .home-header .home-post-title {
        padding: 0 0 0 1%;
        width: 50%;
        white-space: nowrap;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis; }
      body .home-card .home-header .home-post-end {
        font-size: .75em;
        float: right;
        display: inline;
        color: #4d4d4d;
        margin: 1% 1% 0 0; }
    body .home-card .home-transaction-details {
      display: inline-block;
      width: 60%;
      font-size: 2.5em;
      padding: 0 0 0 1%; }
    body .home-card .home-chat {
      display: inline-block;
      width: 20%;
      height: 16vh;
      position: absolute;
      text-align: center;
      cursor: pointer;
      border-left: solid thin #F4F4F4; }
      body .home-card .home-chat .fa-comment {
        margin: 20% 0 0 0;
        color: #a3aeba;
        font-size: 6em;
        display: block; }
        body .home-card .home-chat .fa-comment .home-chat-text {
          font-size: .5em;
          font-family: 'overpass', sans-serif; }
      body .home-card .home-chat:hover {
        background-color: #2ccec8; }
    body .home-card .home-details {
      display: inline-block;
      width: 20%;
      height: 16vh;
      position: absolute;
      margin-left: 20%;
      text-align: center;
      cursor: pointer;
      border-left: solid thin #F4F4F4; }
      body .home-card .home-details:hover {
        background-color: white; }
      body .home-card .home-details .fa-info-circle {
        margin: 20% 0 0 0;
        color: #a3aeba;
        font-size: 6em;
        display: block; }
        body .home-card .home-details .fa-info-circle .home-details-text {
          font-size: .5em;
          font-family: 'overpass', sans-serif; }
  body .home-search {
    position: fixed;
    bottom: 0;
    right: 50%;
    display: inline-block;
    width: 50%;
    background-color: #71F79F;
    text-align: center;
    font-size: 4em;
    line-height: 2em;
    color: white;
    cursor: pointer; }
    body .home-search:hover {
      background-color: #59f68f; }
  body .home-post {
    position: fixed;
    bottom: 0;
    left: 50%;
    display: inline-block;
    width: 50%;
    background-color: #3DD6D0;
    text-align: center;
    font-size: 4em;
    line-height: 2em;
    color: white;
    cursor: pointer; }
    body .home-post:hover {
      background-color: #2ccec8; }
  body .post-detail-title {
    font-size: 4em;
    font-weight: 700;
    margin: 5% 0;
    width: 100%;
    text-align: center; }
  body .post-detail-supplier-name {
    margin: 5%;
    font-size: 3em; }
    body .post-detail-supplier-name .post-detail-rating {
      display: block; }
    body .post-detail-supplier-name span {
      font-weight: bold; }
  body .post-detail-image {
    margin: 5%; }
  body .post-detail-details {
    margin: 5%; }
  body .post-detail-location {
    margin: 5%;
    font-weight: bold; }
  body .post-detail-directions-link {
    color: white;
    background-color: #3DD6D0;
    padding: 5px 15px;
    text-decoration: none;
    font-size: 2em; }
  body .post-detail-location-image {
    margin: 5%; }
  body #post-detail-map {
    height: 500px;
    width: 500px;
    margin-bottom: 25px; }
  body .post-detail-start {
    margin: 5%;
    display: block; }
    body .post-detail-start span {
      font-size: 2em;
      display: block;
      font-weight: bold; }
  body .post-detail-end {
    margin: 5%;
    display: block; }
    body .post-detail-end span {
      font-size: 2em;
      display: block;
      font-weight: bold; }
  body .post-detail-claim-button {
    background-color: #3DD6D0;
    color: white;
    font-size: 4em;
    line-height: 1.5em;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 50%;
    width: 50%;
    cursor: pointer; }
    body .post-detail-claim-button:hover {
      background-color: #2ccec8; }
  body .post-detail-bottom-button {
    background-color: #71F79F;
    color: white;
    font-size: 4em;
    line-height: 1.5em;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 50%;
    cursor: pointer; }
    body .post-detail-bottom-button:hover {
      background-color: #59f68f; }
  body .results-subheader {
    position: fixed;
    margin: -20% 0 0 0;
    z-index: 999;
    background-color: #fbfbc4; }
    body .results-subheader .results-search {
      margin: 2% 0 0 2%;
      width: 95%;
      font-size: 2em; }
    body .results-subheader .results-subheader-text {
      font-size: 2em;
      margin: 2% 0 0 2%;
      padding: 0 0 2% 0;
      line-height: 2em; }
      body .results-subheader .results-subheader-text .results-distance-input {
        width: 10%;
        font-size: 1em;
        border: none; }
      body .results-subheader .results-subheader-text .results-subheader-search-button {
        display: inline-block;
        float: right;
        line-height: 1em;
        margin: 0 2% 2% 0;
        background-color: #5effb9;
        padding: 1.5%;
        color: white;
        cursor: pointer; }
        body .results-subheader .results-subheader-text .results-subheader-search-button:hover {
          background-color: #45ffae; }
  body .results-butt-content-wrapper {
    margin: 33% 0 10% 0; }
  body .results-card {
    display: block;
    height: 20vh;
    background-color: white;
    width: 95%;
    margin: 5% 0 5% 2.5%; }
    body .results-card .results-header {
      background-color: lightgray;
      padding: 2%;
      font-size: 3em;
      font-weight: 700; }
      body .results-card .results-header .results-card-title {
        width: 60%;
        white-space: nowrap;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis; }
      body .results-card .results-header .results-card-end {
        font-size: .5em;
        float: right;
        display: inline; }
    body .results-card .results-transaction-details {
      display: inline-block;
      width: 50%;
      height: 15vh;
      margin: 0 0 0 25%;
      font-size: 2em; }
      body .results-card .results-transaction-details .results-supplier-name-text {
        line-height: 1.2em;
        font-weight: 500; }
      body .results-card .results-transaction-details .results-transaction-location {
        line-height: 1.2em;
        font-weight: 500; }
    body .results-card .results-add-picture {
      position: absolute;
      margin: 2% 0 0 0;
      display: inline-block;
      height: 15vh;
      width: 20%;
      text-align: center; }
      body .results-card .results-add-picture .fa-camera-retro {
        color: #b4b4b4;
        font-size: 3em;
        padding: 25%;
        border: solid thin #b4b4b4;
        background-color: #f5e4e8;
        cursor: pointer; }
        body .results-card .results-add-picture .fa-camera-retro .results-add-picture-txt {
          display: block;
          font-size: .3em;
          font-family: 'overpass', sans-serif;
          font-weight: 200; }
    body .results-card .results-details {
      display: inline-block;
      background-color: #3DD6D0;
      width: 23.8%;
      height: 15vh;
      position: absolute;
      text-align: center;
      color: white;
      cursor: pointer; }
      body .results-card .results-details:hover {
        background-color: #3DD6D0; }
      body .results-card .results-details .fa-info-circle {
        font-size: 6em;
        margin: 20% 0 0 0; }
        body .results-card .results-details .fa-info-circle .search-details-text {
          display: block;
          font-family: 'overpass', sans-serif;
          font-size: .5em; }
  body .results-footer {
    background-color: #71F79F;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 4.5em;
    line-height: 1.3em;
    color: white;
    cursor: pointer;
    font-weight: 200; }
    body .results-footer:hover {
      background-color: #59f68f; }
  body .landing-login-email-input {
    width: 80%;
    border-style: solid thin #dbdbdb;
    font-size: 2em;
    line-height: 1.8em;
    margin: 15% 0 0 10%; }
  body .landing-login-password-input {
    width: 80%;
    font-size: 2em;
    line-height: 1.8em;
    margin: 5% 0 5% 10%; }
  body .landing-login-btn {
    width: 80%;
    font-size: 2.5em;
    line-height: 1.8em;
    text-align: center;
    margin: 2% 0 5% 10%;
    background-color: #71F79F;
    color: white;
    cursor: pointer; }
    body .landing-login-btn:hover {
      background-color: #59f68f; }
  body .landing-signup-btn {
    width: 80%;
    font-size: 2.5em;
    line-height: 1.8em;
    text-align: center;
    margin: 10% 0 5% 10%;
    background-color: #3DD6D0;
    color: white;
    cursor: pointer; }
    body .landing-signup-btn:hover {
      background-color: #2ccec8; }
  body .login-about {
    margin: 50px 2.5%;
    background-color: white;
    width: 90%;
    padding: 2% 2%;
    border: solid 2px #dbdbdb;
    color: #00ab61;
    font-family: sans-serif;
    text-align: center; }
  body .login-legal {
    margin: 50px 2.5%;
    width: 90%;
    padding: 2% 2%;
    color: #00ab61;
    font-family: sans-serif;
    text-align: center; }
  body .profile-public-info {
    position: relative; }
    body .profile-public-info .profile-pub-picture {
      position: absolute;
      top: 20px;
      left: 75px;
      display: block; }
    body .profile-public-info .profile-pub-name {
      position: absolute; }
      body .profile-public-info .profile-pub-name .profile-pub-firstname {
        position: absolute;
        top: 300px;
        width: 125px;
        left: 75px;
        height: 20px;
        text-align: center;
        display: inline-block; }
      body .profile-public-info .profile-pub-name .profile-pub-lastname {
        position: absolute;
        top: 300px;
        width: 125px;
        left: 200px;
        height: 20px;
        text-align: center;
        display: inline-block; }
    body .profile-public-info .profile-pub-data {
      position: absolute; }
      body .profile-public-info .profile-pub-data .profile-pub-org {
        position: absolute;
        top: 335px;
        width: 125px;
        left: 135px;
        height: 20px;
        text-align: center; }
      body .profile-public-info .profile-pub-data .profile-pub-location {
        position: absolute;
        position: absolute;
        top: 360px;
        width: 125px;
        left: 135px;
        height: 20px;
        text-align: center; }
      body .profile-public-info .profile-pub-data .profile-pub-rating {
        position: absolute;
        position: absolute;
        top: 390px;
        width: 125px;
        left: 135px;
        height: 20px;
        text-align: center; }
    body .profile-public-info .profile-pub-about {
      position: absolute;
      top: 435px;
      width: 385px;
      left: 15px;
      height: 20px; }
  body .profile-pub-footer .profile-pub-home {
    display: inline-block;
    width: 50%;
    position: fixed;
    bottom: 0;
    text-align: center;
    font-size: 2.5em;
    line-height: 1.3em;
    color: white;
    background-color: #71F79F;
    cursor: pointer;
    font-weight: 200; }
    body .profile-pub-footer .profile-pub-home:hover {
      background-color: #59f68f; }
  body .profile-pub-footer .profile-pub-back {
    display: inline-block;
    margin-left: 50%;
    width: 50%;
    position: fixed;
    bottom: 0;
    text-align: center;
    font-size: 2.5em;
    line-height: 1.3em;
    color: white;
    background-color: #4a1d3b;
    cursor: pointer;
    font-weight: 200; }
    body .profile-pub-footer .profile-pub-back:hover {
      background-color: #38162c; }
  body .create-content-wrapper {
    margin-top: 12%; }
  body #create-fileName {
    margin-left: 2%;
    background-color: transparent;
    color: transparent; }
  body #create-fileName::-webkit-file-upload-button {
    visibility: hidden; }
  body #create-fileName::before {
    content: 'Choose image';
    font-family: sans-serif;
    color: white;
    display: inline-block;
    background-color: #3DD6D0;
    padding: 10px;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    font-size: 3em; }
  body .create-choose-file {
    margin-left: 2%;
    font-size: 3em; }
  body .create-subheader {
    width: 100%;
    font-size: 4em;
    text-align: center;
    background-color: #fbfbc4;
    line-height: 1.5em;
    margin-top: 15%; }
  body .create-title {
    background-color: white;
    width: 95%;
    border: solid 2px #F4F4F4;
    font-size: 3em;
    margin: 2% 0 0 2.5%;
    color: black; }
  body .create-picture {
    margin: 2% 0;
    color: black;
    text-align: center; }
  body .fa-camera-retro {
    color: #b4b4b4;
    padding: 90px 50px;
    display: inline-block;
    border: solid thin #b4b4b4;
    background-color: #f5e4e8;
    cursor: pointer; }
  body .create-location {
    background-color: white;
    width: 95%;
    border: solid 2px #F4F4F4;
    font-size: 1em;
    margin: 2% 0 2% 2.5%;
    color: black;
    font-size: 3em; }
  body .create-start-na {
    display: inline-block;
    background-color: white;
    width: 40%;
    border: solid 2px #F4F4F4;
    font-size: 3em;
    margin: 2% 5%;
    color: black; }
  body .create-start-time-na {
    display: inline-block;
    background-color: white;
    width: 40%;
    border: solid 2px #F4F4F4;
    font-size: 3em;
    margin-top: 2%;
    color: black; }
  body .create-end-na {
    display: inline-block;
    margin: 2% 5%;
    background-color: white;
    width: 40%;
    border: solid 2px #F4F4F4;
    font-size: 3em;
    margin-top: 2%;
    color: black; }
  body .create-end-time-na {
    display: inline-block;
    background-color: white;
    width: 40%;
    border: solid 2px #F4F4F4;
    font-size: 3em;
    margin-top: 2%;
    color: black; }
  body .create-description {
    display: block;
    height: 25vh;
    background-color: white;
    width: 95%;
    border: solid 2px #F4F4F4;
    font-size: 1em;
    margin: 2% 0 0 2.5%;
    color: black;
    font-size: 3em; }
  body .create-submit-button {
    background-color: #71F79F;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 5em;
    line-height: 1.3em;
    color: white;
    cursor: pointer;
    font-weight: 200; }
    body .create-submit-button:hover {
      background-color: #59f68f; }
  body .edit-post-subheader {
    width: 100%;
    font-size: 4em;
    text-align: center;
    background-color: #fbfbc4;
    line-height: 1.5em;
    margin-top: -8%;
    position: fixed; }
  body .edit-post-content-wrapper {
    margin-top: 20%;
    overflow: scroll;
    height: 90vh; }
  body #file-input-edit-post {
    display: none; }
  body .edit-post-add-image {
    background-color: #3DD6D0;
    width: 90%;
    color: white;
    text-align: center;
    font-size: 3em; }
  body .edit-post-title {
    background-color: white;
    width: 95%;
    border: solid 2px #F4F4F4;
    font-size: 3em;
    margin: 2% 0 0 2.5%;
    color: black; }
  body .edit-post-picture {
    margin: 2% 0;
    color: black;
    text-align: center; }
  body .fa-camera-retro {
    color: #b4b4b4;
    padding: 90px 50px;
    display: inline-block;
    border: solid thin #b4b4b4;
    background-color: #f5e4e8;
    cursor: pointer; }
  body .edit-post-location {
    background-color: white;
    width: 95%;
    border: solid 2px #F4F4F4;
    font-size: 1em;
    margin: 2% 0 2% 2.5%;
    color: black;
    font-size: 3em; }
  body .edit-post-start-na {
    display: inline-block;
    background-color: white;
    width: 40%;
    border: solid 2px #F4F4F4;
    font-size: 3em;
    margin: 2% 5%;
    color: black; }
  body .edit-post-start-time-na {
    display: inline-block;
    background-color: white;
    width: 40%;
    border: solid 2px #F4F4F4;
    font-size: 3em;
    margin-top: 2%;
    color: black; }
  body .edit-post-end-na {
    display: inline-block;
    margin: 2% 5%;
    background-color: white;
    width: 40%;
    border: solid 2px #F4F4F4;
    font-size: 3em;
    margin-top: 2%;
    color: black; }
  body .edit-post-end-time-na {
    display: inline-block;
    background-color: white;
    width: 40%;
    border: solid 2px #F4F4F4;
    font-size: 3em;
    margin-top: 2%;
    color: black; }
  body .edit-post-description {
    display: block;
    height: 25vh;
    background-color: white;
    width: 95%;
    border: solid 2px #F4F4F4;
    font-size: 1em;
    margin: 2% 0 0 2.5%;
    color: black;
    font-size: 3em; }
  body .edit-post-btn {
    background-color: #71F79F;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 5em;
    line-height: 1.3em;
    color: white;
    cursor: pointer;
    font-weight: 200; }
    body .edit-post-btn:hover {
      background-color: #59f68f; }
  body .created-content-wrapper {
    margin-top: 12%;
    overflow: scroll; }
  body .created-post-title {
    width: 100%;
    font-size: 5em;
    line-height: 1.5em;
    color: black;
    text-align: center;
    background-color: #fbfbc4; }
  body .created-post-description {
    width: 95%;
    font-size: 3em;
    margin-top: 2%;
    color: black;
    display: inline; }
  body .created-post-chat {
    display: inline-block;
    background-color: #71F79F;
    border-radius: 5px;
    color: white;
    padding: 8px 0;
    text-align: center;
    width: 90%;
    text-align: center;
    cursor: pointer;
    font-size: 3em;
    line-height: 1.5em;
    margin: 2% 0 0 5%; }
    body .created-post-chat:hover {
      background-color: #59f68f; }
  body .created-post-images {
    display: block;
    margin: 2% 0; }
    body .created-post-images .created-post-photo {
      display: inline-block;
      height: 450px;
      width: 450px;
      margin: 0 1%; }
    body .created-post-images #created-post-gmap {
      width: 450px;
      height: 450px;
      display: inline-block;
      margin: 0 1% 0 2%; }
  body .created-post-address {
    display: inline-block;
    margin: 15px 5% 15px 1.5%;
    font-size: 3em; }
    body .created-post-address span {
      display: block; }
  body .created-post-location {
    display: block; }
    body .created-post-location .created-post-directions-btn {
      display: inline-block;
      background-color: #3DD6D0;
      border-radius: 5px;
      color: white;
      padding: 8px 0;
      text-align: center;
      width: 80%;
      text-decoration: none;
      text-align: center;
      cursor: pointer;
      font-size: 3em;
      line-height: 1.5em;
      margin: 0 0 0 7.5%; }
      body .created-post-location .created-post-directions-btn:hover {
        background-color: #2ccec8; }
  body .created-post-start {
    margin: 2% 2.5%;
    font-size: 3em; }
    body .created-post-start span {
      font-size: .75em;
      display: block;
      font-weight: bold; }
  body .created-post-end {
    margin: 2% 2.5%;
    font-size: 3em; }
    body .created-post-end span {
      font-size: .75em;
      display: block;
      font-weight: bold; }
  body .ical {
    display: inline-block;
    background-color: #4a1d3b;
    border-radius: 5px;
    color: white;
    padding: 8px 0;
    text-align: center;
    width: 90%;
    text-align: center;
    cursor: pointer;
    font-size: 3em;
    line-height: 1.5em;
    margin: 2% 0 0 5%; }
    body .ical:hover {
      background-color: #38162c; }
    body .ical i {
      font-size: 1em; }
  body .created-post-complete-button {
    color: white;
    background-color: #3DD6D0;
    margin: 2% 10%;
    padding: 2%;
    font-size: 2em;
    text-align: center; }
  body .created-post-footer-home {
    background-color: #71F79F;
    position: fixed;
    bottom: 0;
    width: 33.33%;
    text-align: center;
    font-size: 5em;
    line-height: 1.3em;
    color: white;
    cursor: pointer;
    font-weight: 200; }
    body .created-post-footer-home:hover {
      background-color: #59f68f; }
  body .created-post-footer-edit {
    background-color: #3DD6D0;
    position: fixed;
    bottom: 0;
    width: 33.33%;
    margin-left: 33.33%;
    text-align: center;
    font-size: 5em;
    line-height: 1.3em;
    color: white;
    cursor: pointer;
    font-weight: 200; }
    body .created-post-footer-edit:hover {
      background-color: #2ccec8; }
  body .created-post-footer-delete {
    background-color: #4a1d3b;
    position: fixed;
    bottom: 0;
    width: 33.33%;
    margin-left: 66.33%;
    text-align: center;
    font-size: 5em;
    line-height: 1.3em;
    color: white;
    cursor: pointer;
    font-weight: 200; }
    body .created-post-footer-delete:hover {
      background-color: #38162c; }
  body .chat-subheader {
    background-color: #fbfbc4;
    font-size: 4em;
    line-height: 1.5em;
    position: fixed;
    top: 7%;
    width: 100%;
    display: block;
    text-align: center; }
    body .chat-subheader .chat-other-user-text {
      font-weight: 700; }
  body .chat-content-wrapper {
    margin: 25% 0 0 0;
    height: 73vh;
    overflow: scroll; }
    body .chat-content-wrapper .chat-other-user-response {
      width: 65%;
      display: block;
      font-size: 3em;
      line-height: 1.2em;
      background-color: white;
      border-radius: 0 .3em .3em .3em;
      margin: 2%;
      padding: 2% 1%;
      box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2); }
    body .chat-content-wrapper .chat-current-user-response {
      margin: 2% 0 2% 30%;
      width: 65%;
      display: block;
      font-size: 3em;
      line-height: 1.2em;
      background-color: white;
      padding: 2% 1%;
      border-radius: .3em .3em 0 .3em;
      box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2); }
  body .chat-input-block {
    margin: 1% 0 1% 0;
    position: absolute;
    bottom: 7%;
    width: 100%;
    border-top: #a8a8a8;
    display: block; }
    body .chat-input-block .chat-input {
      width: 80%;
      font-size: 3em;
      line-height: 1.7em;
      margin: 0 0 0 5%;
      border: solid 2px #3DD6D0;
      border-right: solid 2px transparent;
      border-radius: 5px; }
    body .chat-input-block .fa-paper-plane-o {
      display: inline-block;
      font-size: 3.5em;
      padding: 2%;
      color: white;
      background-color: #3DD6D0;
      border-radius: 5px; }
      body .chat-input-block .fa-paper-plane-o:hover {
        color: #3DD6D0;
        background-color: white;
        border: solid 2px #3DD6D0; }
  body .chat-home-btn {
    display: block;
    background-color: #71F79F;
    font-size: 5em;
    line-height: 1.3em;
    text-align: center;
    color: white;
    width: 50%;
    position: fixed;
    bottom: 0;
    left: 0;
    cursor: pointer; }
    body .chat-home-btn:hover {
      background-color: #59f68f; }
  body .chat-back-to-post-btn {
    display: inline-block;
    background-color: #3DD6D0;
    font-size: 5em;
    line-height: 1.3em;
    text-align: center;
    color: white;
    width: 50%;
    position: fixed;
    bottom: 0;
    left: 50%;
    cursor: pointer; }
    body .chat-back-to-post-btn:hover {
      background-color: #2ccec8; }
  body .claimed-content-wrapper {
    margin-top: 10%;
    height: 88vh;
    overflow: scroll; }
  body .claimed-title {
    font-size: 6em;
    margin: 5% 0 2% 0;
    display: inline-block;
    width: 100%;
    text-align: center; }
  body .claimed-chat {
    display: block;
    margin: 5% 0 0 5%;
    width: 90%;
    font-size: 4em;
    background-color: #71F79F;
    color: white;
    padding: 5px;
    text-align: center;
    cursor: pointer; }
    body .claimed-chat:hover {
      background-color: #59f68f; }
  body .claimed-supplier-name {
    margin: 5% 0 0 5%;
    font-size: 3em; }
    body .claimed-supplier-name span {
      display: block; }
  body .claimed-image {
    margin: 5%; }
  body .claimed-details {
    margin: 5% 5% 0 5%;
    font-size: 3em; }
  body #claimed-map {
    width: 600px;
    height: 600px;
    margin: 2% 0 2% 20%; }
  body .claimed-location {
    margin: 5% 0 0 5%;
    font-size: 3em; }
  body .claimed-directions-link {
    display: inline-block;
    background-color: #3DD6D0;
    border-radius: 5px;
    color: white;
    padding: 8px 0;
    text-align: center;
    width: 90%;
    text-align: center;
    cursor: pointer;
    font-size: 3.5em;
    line-height: 1.5em;
    margin: 0 0 0 5%; }
    body .claimed-directions-link:hover {
      background-color: #2ccec8; }
  body .claimed-time-calendar-wrap {
    display: block;
    font-size: 3em; }
    body .claimed-time-calendar-wrap .claimed-time-wrap {
      display: inline;
      margin: 10px 0; }
      body .claimed-time-calendar-wrap .claimed-time-wrap .claimed-start {
        display: inline;
        padding: 5px; }
        body .claimed-time-calendar-wrap .claimed-time-wrap .claimed-start span {
          display: block;
          font-weight: bold; }
      body .claimed-time-calendar-wrap .claimed-time-wrap .claimed-end {
        display: inline;
        padding: 5px; }
        body .claimed-time-calendar-wrap .claimed-time-wrap .claimed-end span {
          display: block;
          font-weight: bold; }
    body .claimed-time-calendar-wrap .claimed-iCal {
      display: block;
      margin: 5% 0 2% 5%;
      background-color: #4a1d3b;
      width: 90%;
      text-align: center;
      color: white;
      padding: 2% 0; }
  body .claimed-details-title {
    margin: 5%;
    font-size: 3em; }
  body .claimed-mark-as-complete {
    display: block;
    width: 90%;
    text-align: center;
    margin: 1% 0 1% 5%;
    background-color: #f06e00;
    color: white;
    font-size: 3em;
    line-height: 1.5em; }
  body .claimed-bottom-button {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 50%;
    text-align: center;
    font-size: 5em;
    line-height: 1.3em;
    color: white;
    cursor: pointer;
    background-color: #3DD6D0;
    cursor: pointer; }
    body .claimed-bottom-button:hover {
      background-color: #2ccec8; }
  body .claimed-remove-button {
    position: fixed;
    bottom: 0;
    width: 50%;
    left: 50%;
    text-align: center;
    font-size: 5em;
    line-height: 1.3em;
    color: white;
    cursor: pointer;
    background-color: #71F79F;
    cursor: pointer; }
    body .claimed-remove-button:hover {
      background-color: #59f68f; }

/*# sourceMappingURL=styles.css.map */
