$headerbg: #33691e;
$subheaderbg: #F2F24D;
$itembg: #CCFFD7;
$border: #F4F4F4;
$bodybg: #FCF7F8;
$buttonbg: #0c8183;
$buttonaccent: #f06e00;
$buttonaccent2: #8bc34a;

body{
  background-color: $bodybg;
  font-family: 'overpass', sans-serif;
  .app-header{
    font-weight: 700;
    height: 40%;
    width: 100%;
    background-color: lighten($headerbg, 3%);
    color: white;
    display: inline-block;
    padding: 2% 2%;
    font-size: 1.5em;
  }
  .sign-up-title{
    margin-top: 5%;
    font-size: 2em;
    text-align: center;
  }
  .sign-up-form {
    width: 80%;
    margin: 10% 10% 5% 10%;
    text-align: center;
  }
  .sign-up-label {
    display: block;
    margin-top: 5%;
    text-align: left;
  }
  .sign-up-input {
    width: 100%;
    border: solid 2px $border;
    font-size: 1em;
    line-height: 2;
    padding: 5px;
    margin-top: 2%;
    color: black;
  }
  .sign-up-link {
    text-decoration: none;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .sign-up-button {
    border: solid 2px $border;
    background-color: $buttonaccent2;
    color: white;
    font-size: 1.5em;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
  }
  // .searchwrap{
  //   background-color: lighten($subheaderbg, 25%);
  //   width: 100%;
  //   padding: 5% 2%;
  //   .searchbar{
  //     width: 80%;
  //   }
  // }
  // .exampletext{
  //   width: 100%;
  //   color: darken($border, 15%);
  //   text-align: center;
  //   font-family: sans-serif;
  //   padding: 2% 0 0 0;
  // }
  // .item{
  //   margin: 2% 2.5%;
  //   background-color: white;
  //   // background-color: darken($itembg, 0%);
  //   width: 90%;
  //   padding: 2% 2%;
  //   border: solid 2px darken($border, 10%);
  //   color: darken($headerbg, 15%);
  //   font-family: sans-serif;
  //   .desc {
  //     background-color: white;
  //   }
  // }
  // .button{
  //   background-color: lighten($buttonbg, 15%);
  //   width: 50%;
  //   position: absolute;
  //   bottom: 0;
  //   padding: 2% 0;
  //   text-align: center;
  //   color: white;
  // }
  // .button2{
  //   background-color: $buttonaccent2;
  //   width:50%;
  //   position: absolute;
  //   // float: right;
  //   bottom: 0;
  //   color: white;
  //   padding: 2% 0;
  //   margin: 0 0 0 50%;
  //   text-align: center;
  // }
}
